.first-block {
  background: url("../img/first-block_back.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-bottom: 65px;
}

.first-block__price {
  padding: 32px 0 38px 0;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.button-discover-z {
  position: relative;
  z-index: 10;
}

.first-price__old {
  font-size: 16px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3);
  text-decoration-line: line-through;
  margin-left: 8px;
}

.first-block__title {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 16px;
}

.first-block__boock-mobile {
  padding-top: 30px;
}

.first-block__mobile {
  position: relative;
}

.first-block__mobile-book {
  position: absolute;
  right: 0;
  top: 30px;
}

.first-block__boock-mobile img {
  width: 100%;
  height: auto;
}

.secondblock-title {
  padding-top: 30px;
}

.discover-title {
  font-size: 32px;
  font-weight: 700;
  color: black;
  line-height: 2.5rem;
}

.secondblock-discover__text {
  padding: 32px 0 0 0;
}

.secondblock {
  position: relative;
}

.secondblock-discover__imgrock {
  height: 601px;
  position: absolute;
  right: 0;
  margin-top: 240px;
}

.secondblock-discover__buttons {
  display: flex;
  justify-content: center;
  padding: 13px 0;
  border: 1px solid #e55d48;
  border-radius: 127px;
  color: #e55d48;
  font-weight: 700;
  margin: 24px 0;
  background: #fff;
}

.secondblock-discover__gruop {
  padding-right: 0;
}

.thirdblock {
  background: url("../img/thirdblock_bg.svg") no-repeat left top;
  background-size: cover;
  width: 100%;
  height: auto;
  margin-top: 32px;
}

.thirdblock_title {
  text-align: center;
  padding-top: 72px;
  width: 100%;
}

.thirdblock_list {
  padding-top: 32px;
}

.faq_list {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 40px;
  text-align: center;
}

.thirdblock-shadow {
  -webkit-box-shadow: 0px 0px 11px 6px rgba(34, 60, 80, 0.08);
  -moz-box-shadow: 0px 0px 11px 6px rgba(34, 60, 80, 0.08);
  box-shadow: 0px 0px 11px 6px rgba(34, 60, 80, 0.08);
}

.thirdblock-list__text {
  font-weight: 700 !important;
}

.thirdblock_imagemobile {
  padding-top: 50px;
  padding-bottom: 92px;
  margin: 0 auto;
}

.thirdblock_imagemobile img {
  width: 100%;
  height: auto;
}

.thirdblock_imagemobile-big {
  padding-top: 50px;
  padding-bottom: 92px;
  margin: 0 auto;
}

.thirdblock_imagemobile-big img {
  width: 100%;
  height: auto;
}
.thirdblock-big__column {
  margin: 0 15px;
}

.thirdblock-big__title {
  font-weight: 700;
  padding-top: 30px;
}

.fourthblock-small {
  padding-top: 64px;
}
.fourthblock-small__title {
  font-size: 40px;
}

.fourthblock-small__subtitle {
  padding-bottom: 40px;
}

.fourthblock-small__text8 {
  background: url("../img/fourthblock-small-8.svg") no-repeat left top;
  width: 100%;
  min-height: 72px;
  padding-left: 88px;
  margin-bottom: 24px;
}

.fourthblock-small__text5 {
  background: url("../img/fourthblock-small-5.svg") no-repeat left top;
  width: 100%;
  min-height: 72px;
  padding-left: 88px;
  margin-bottom: 24px;
}

.fourthblock-small__text1 {
  background: url("../img/fourthblock-small-1.svg") no-repeat left top;
  width: 100%;
  min-height: 72px;
  padding-left: 88px;
  margin-bottom: 38px;
}

.fourthblock-small__texttitle {
  font-weight: 700;
}

.fourthblock-small__footer {
  border-left: 3px solid #92e5eb;
  padding-left: 24px;
}

.fourthblock-sidebar {
  background-color: #fff;
  margin-top: 35px;
  padding: 12px 23px;
  font-size: 25px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.09);
}

.fourthblock-sidebar__listitem {
  display: flex;
  justify-content: space-between;
  line-height: 1.8rem;
  margin-top: 37px;
}

.fourthblock-sidebar__listitem:first-child {
  display: flex;
  justify-content: space-between;
  line-height: 1.8rem;
  margin-top: 0;
}

.fourthblock-sidebar__barley {
  background: url("../img/barley.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__krilloil {
  background: url("../img/krilloil.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__fishoil {
  background: url("../img/fishoil.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__safflower {
  background: url("../img/saffloweroil.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__pump {
  background: url("../img/pumpkin.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__shell {
  background: url("../img/shellbean.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__cheese {
  background: url("../img/cheese.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__bread {
  background: url("../img/bread.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__pistachio {
  background: url("../img/pistachio.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__whiteflour {
  background: url("../img/whiteflour.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__right {
  display: flex;
  align-items: center;
}

.fifthblock-bg {
  background: url("../img/fifthblock-bg.svg") no-repeat top;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.fifthblock {
  text-align: center;
}

.fifthblock-title {
  padding-top: 118px;
  padding-bottom: 40px;
  text-align: center;
}

.fifthblock-test {
}

.fifthblock-column__imagepc {
  width: 100%;
  height: 120px;
}

.fifthblock-column__imageblood {
  width: 100%;
  height: 120px;
  margin-top: 32px;
}

.fifthblock-column__imagemicroscope {
  width: 100%;
  height: 120px;
  margin-top: 32px;
}

.fifthblock-column__imagechecklist {
  width: 100%;
  height: 120px;
  margin-top: 32px;
}

.fifthblock-column__title {
  font-weight: 700;
  padding: 16px 0px;
}

.fifthblock-column__text {
  font-size: 12px;
}

.sixthblock-discover__buttons {
  display: flex;
  justify-content: center;
  padding: 13px 0;
  border: 1px solid #e55d48;
  border-radius: 127px;
  color: #e55d48;
  font-weight: 700;
  margin: 40px 0;
  background: #fff;
}

p {
  margin-bottom: 0;
}

.main-block {
  margin-top: 72px;
}

.microbiome-text__main {
  line-height: 1.8rem;
}

.microbiome-text__title {
  font-size: 14px;
  font-weight: 700;
}
.microbiome-text__subtitle {
  font-size: 30px;
  font-weight: 700;
}

.microbiome-text {
  line-height: 2.1rem;
}

.microbiome-text__first {
  padding: 40px 0;
}

.microbiome-text__last {
  color: #798186;
  font-weight: 700;
  line-height: 2.4rem;
  padding: 40px 0;
}

.microbiome-quote {
  border-left: 2px solid #92e5eb;
}

.microbiome-quote__title {
  padding-left: 34px;
  font-weight: 700;
}
.microbiome-quote__subtitle {
  padding-left: 34px;
}

.microbiome-bg {
  position: absolute;
  right: 0;
  z-index: -100;
  width: 700px;
  height: 913px;
}

.microbiome-carousel {
  background: url("../img/microbiome-caorusel.svg") center center;
  width: 100%;
  height: 919px;
  padding: 115px 0;
  margin-top: 40px;
}

.balance-provide {
  position: relative;
  padding-top: 67px;
}

.block2 {
  padding-top: 50px;
}

.balance-provide__item {
  margin-left: -30px;
}

.balance-provide__item1 {
  margin-left: -30px;
}
.balance-provide__item2 {
  margin-left: -60px;
}
.balance-provide__item3 {
  margin-left: -90px;
}

.balance-provide__title {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 50px;
}
.balance-provide__girl {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -100;
}

.balance-provide__clock {
  background: url("../img/clock.png") no-repeat center center;
  width: 388px;
  height: 765px;
  position: absolute;
  left: 0;
  top: 180px;
}

.block2-small__text {
  position: absolute;
}

/* АНИМАЦИЯ ЧАСОВ */

.clock-white {
  background: url("../img/clock-white.png") no-repeat center center;
  width: 169px;
  height: 765px;
  position: relative;
  z-index: 20;
}

.balance-provide__arrow {
  background: url("../img/arrow.png") no-repeat center center;
  width: 297px;
  height: 241px;
  margin: -605px 0 0 -40px;
  transition: all 0.8s ease 0s;
  transform: rotate(-15deg);
  position: relative;
  z-index: 10;
  transform-origin: bottom left;
}

.hover__clock {
  background: url("../img/hover_clock.png") no-repeat center center;
  width: 392px;
  height: 67px;
  margin: -87px 0 0 4px;
  transition: all 0.8s ease 0s;
  transform: rotate(-52deg);
  position: relative;
  transform-origin: bottom left;
}

.hover_block_mobile {
  background: url("../img/hover_block_mobile.png") no-repeat center center;
  width: 39px;
  height: 155px;
  margin: -158px 0 0 0;
  transition: all 0.8s ease 0s;
  transform: rotate(-45deg);
  position: relative;
  transform-origin: bottom center;
}

/* КОНЕЦ АНИМАЦИИ ЧАСОВ */

.balance-provide__accardion {
  font-size: 16px;
  color: black !important;
  font-weight: 700;
}

.balance-provide__accardion:hover {
  color: #e55d48 !important;
  cursor: pointer;
  text-decoration: none;
}
.balance-provide__text {
  font-size: 12px;
}

.panel {
  padding-bottom: 48px;
}

.panel-heading {
  padding-bottom: 16px;
}

.panel-collapse {
  font-size: 12px;
  line-height: 1.8rem;
}

.block3 {
  padding-top: 150px;
  position: relative;
}

.microscope_img {
  position: absolute;
  left: 0;
  top: 150;
}

.microbiome-text__fw {
  font-weight: 700;
  padding-top: 32px;
}

.last-block {
  background: url("../img/last_block.svg") right center;
  width: 100%;
  margin-top: 50px;
  padding-left: 100px;
  position: relative;
  padding-bottom: 50px;
  height: 495px;
}

.last-block__header {
  color: #fff;
  padding-top: 125px;
}

.last-block__title {
  font-weight: 700;
  font-size: 40px;
}

.last-block__subtitle {
  line-height: 1.8rem;
}

.last-block__price {
  padding: 32px 0 38px 0;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.last-block__button {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  background: #ee7663;
  border-radius: 127px;
  padding: 12px 30px;
}

.last-block__boocks {
  position: absolute;
  right: 0;
  bottom: 60px;
}

button {
  border: 0;
  background: none;
}

/*СЛАЙДЕР */

.microbiome-slider {
  min-width: 0;
  padding-top: 28px;
}

.microbiome-slider__item:focus {
  outline: none !important;
}

.microbiome-slider__item {
  width: 290px;
  margin: 0 15px;
}

.microbiome-slider__img1 {
  background: url("../img/bsl1.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 585px;
  padding: 32px 24px;
  border-radius: 16px;
}
.microbiome-slider__img2 {
  background: url("../img/bsl2.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 585px;
  padding: 32px 24px;
  border-radius: 16px;
}

.microbiome-slider__img3 {
  background: url("../img/bsl3.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 585px;
  padding: 32px 24px;
  border-radius: 16px;
}

.microbiome-slider__img4 {
  background: url("../img/bsl4.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 585px;
  padding: 32px 24px;
  border-radius: 16px;
}

.microbiome-slider__title {
  padding-top: 369px;
  font-weight: 600;
  font-size: 20px;
}

.microbiome-slider__text {
  padding-top: 20px;
}

.targetdivs {
  display: none;
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

