/* 1443 */

.mainpic {
    width: 100%;
    margin-right: -5px;
    margin-left: -5px;
}

.about__wrap {
    background-image: url(../img/mainpic-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.about__title {
    margin-bottom: 32px;
}

.about__subtitle {
    font-size: 16px;
    margin-bottom: 24px;
}

.about__description {
    line-height: 30px;
}

.text {
    margin-left: 0;
}

.reward__cont {
    display: none;
}

.rewards__wrap {
    background-image: url(../img/greyback.png);
    background-repeat: round;
    background-size: cover;
    position: relative;
    height: 480px;
}

.slider__wrap {
    padding-top: 48px;
}

.carousel-item {
    text-align: center;
}


.carousel-item.active {
    text-align: center;
}

.rewards__icon {
    margin-bottom: 16px;
}

.rewards__descr {
    line-height: 30px;
    padding: 0 16px;
}

.slide-descr-wrap {
    min-height: 180px;
}

.rewards__author {
    color: #bababa;
    margin-bottom: 24px;
}

.carousel-control-prev-icon {
    background-image: url(../img/prev.svg) !important;
    margin-top: 40px;
    margin-left: -40px;
}

.carousel-control-next-icon {
    background-image: url(../img/next.svg) !important;
    margin-top: 40px;
    margin-left: 40px;
}

.health {
    margin-bottom: 0 !important;
}

.carousel-indicators li {
    background-color: #C0E8EF;
    padding-top: 12px !important;
    border-radius: 50%;
    width: 14px !important;
    height: 0 !important;
    margin-right: 3px !important;
    margin-left: 3px !important;
    background-clip: unset !important;
    border-top: none !important;
    border-bottom: none !important;
}

.press__wrap {
    background-image: url(../img/pressback.png);
    background-repeat: round;
    background-size: cover;
    margin-top: -50px;
    margin-bottom: 40px;
    padding-bottom: 64px;

}

.press__title {
    color: white;
    padding-top: 68px;
    text-align: center;
    line-height: 39px;
    margin-bottom: 23px;
}

.cont {
    width: 240px;
    height: 225px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.09);
    border-radius: 24px;
    margin: 0 auto;
    margin-bottom: 64px;
}

.cont:focus {
    outline: none;
}

.slider-item__image {
    margin-top: 18px;
    padding-top: 20px;

}

.slider-item__text {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 0 16px;
}

.team__title {
    text-align: center;
}

.team__position {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
}


.road {
    background-image: url(../img/roadback.png);
    background-repeat: round;
    background-size: cover;
    margin-bottom: 64px;
    padding-top: 110px;
    padding-bottom: 96px;


}

.road__title {
    text-align: center;
    font-size: 40px;
}

.road__arrow_wrap {
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 300px;
    overflow: hidden;
}

.road__arrow_blue {
    background-image: url(../img/blue1.png);
    width: 196px;
    height: 60px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.road__arrow_white {
    background-color: white;
    width: 164px;
    height: 60px;
    text-align: center;
}

.arrow-right {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #58C4D9;
    margin-left: -1px;
}

.arrow1 {
    margin-left: -1px;
}

.arrow-right2,
.arrow-right3 {
    display: none;
}

.arrow-right3 {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #58C4D9;
}

.arrow-white {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid white;

}

.november,
.nineteen,
.twenty,
.twenty-one,
.twenty-two {
    display: none;
}

.arrow-white-nov {
    position: absolute;
    z-index: 200;
    left: 436px;
}

.road__text_white {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.road__text_black {
    color: black;
    text-align: center;
    padding-top: 20px;
}

.road__events {
    display: flex;
    margin-bottom: 50px;
}

.road__events_image {

    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 8px;
}

.twenty {
    background-image: url(../img/blue3.png);
}

.enterpr {
    background-image: url(../img/enterp.svg);
}

.boy1 {
    background-image: url(../img/boy1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0;
}

.boy2 {
    background-image: url(../img/boy2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0;

}

.scientists {
    margin-right: 26px
}

.event1 {
    width: 196px;
    text-align: center;
}

.event3,
.event4,
.event5,
.event6,
.event7 {
    display: none;
}

.boys {
    display: flex;
}

.road__events_text {
    padding: 0 10px;
    text-align: center;
}


.road__subtitle {
    text-align: center;
}

.global__image {
    background-image: url(../img/roadpic.png);
    width: 100%;
    height: 246px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 32px;
}

.goal {
    padding-left: 32px;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    margin-bottom: 50px;
}

.goal::before {
    content: '';
    clear: both;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/vertical.svg);
    width: 2px;
    height: 100%;
}

.goal__btn {
    display: block;
    margin: 0 auto;
    background: #E3614D;
    border-radius: 127px;
    width: 290px;
    height: 48px;
    text-align: center;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.refs__title {
    text-align: center;
    margin-bottom: 32px;
}

.refs__list {
    text-align: center;
}



.team__name {
    font-size: 16px;
}


.team__cont {
    text-align: center;
    width: 272px;
    height: 548px;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 4px 3px 21px 0px rgba(209, 209, 209, 1);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
}

.team__cont:focus {
    outline: none;
}

.team__image {
    margin-bottom: 24px;
    width: 272px;
    border-radius: 26px;
}

.team__descr {
    font-size: 12px;
    line-height: 16px;
    padding: 0 16px;
    margin-bottom: 8px;
}

.team__item:focus {
    outline: none;
}