@media (max-width: 776px) {
  .banner-box .doctor-icon {
    position: absolute;
    right: 18%;
    top: 21%;
  }
  .elips-none {
    display: none;
  }
  .guid-box__ico2 {
    left: 140px;
  }
  .input-form-credit-light .form-control {
    padding: 0.375rem 0px !important;
  }
  .dots {
    color: #495057;
    display: block;
    font-size: 30px;
  }
  .bg-light-inpt {
    border-radius: 50px;
    background-color: #f8f8f8 !important;
  }
  .credit-card {
    width: 100%;
    height: 100%;
  }
  .credit-card-form {
    width: 100%;
  }
  .feedback {
    width: 100%;
  }
  .bg-blue {
    padding-top: 123px;
    padding-bottom: 84px;
    padding-right: 10px;
    padding-left: 10px;
  }
  footer .flex-between {
    margin: 20px 0px;
    text-align: center;
    display: block;
  }
  .footer {
    background: #ffffff;
  }
  .informations li {
    text-align: left;
    margin: 20px 0px;
  }
  .bottom-menu li {
    padding-right: 0px;
    margin: 15px 0px;
  }
  .email {
    display: block;
    text-align: center;
  }
  .bottom-menu {
    display: block;
  }
  .informations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .revers-bg {
    flex-direction: column-reverse;
  }
  .nt-media {
    display: none;
  }
  .nt-media-bl {
    display: block;
  }
  .doctor-icon {
    position: absolute;
    right: 83px;
    top: 145px;
  }
  .plus-minus {
    height: auto;
  }
  .banner-box {
    margin-bottom: 32px;
  }
  .icon-mastercard {
    margin-top: 8px;
  }
  .credit-card {
    padding: 25px;
    margin-top: 8px;
  }
  .check-from-reg {
    display: none;
  }
  .forms-block {
    margin-bottom: 20px;
  }
  .check-list ul {
    padding: 0;
    line-height: 30px;
    padding-bottom: 16px;
  }
  .btn-block {
    justify-content: center;
    display: flex;
  }
  .quantity-bk {
    display: flex;
    justify-content: flex-end;
  }
  .quantity {
    background: #ffffff;
  }
}

@media (max-width: 720px) {
  .guid-box__ico2 {
    left: 0;
  }


}


@media (max-width: 767px) {
  .navbar-toggler[aria-expanded="true"].navbar-expand-sm .navbar-collapse {
    display: table!important;
  }

    .navbar-toggler[aria-expanded="false"].navbar-expand-sm .navbar-collapse {
      display: none!important;
    }

    .header__menu {
      background-color: white;
      margin-right: -18px;
        margin-left: -16px;
        width: 100vw;
    
    }
    
    .head-menu {
      align-items: center;
    }
    
    .navbar-right {
      flex-direction: row;
      padding: 0 20px;
      padding-bottom: 20px;
      justify-content: center;
      /* justify-content: space-between; */
    }

}

@media (min-width: 768px) {
  .banner-box .doctor-icon {
    right: 32%;
    top: 22%;
  }

}


@media (max-width: 999px) {
  /* .navbar-expand-sm .navbar-collapse {
    display: none !important;
  } */
  .banner-box {
    margin-bottom: 20px;
  }
  .feedback {
    margin: auto;
    width: 100%;
  }
  .guid-box__ico2 {
    left: 140px;
  }
  .credit-card {
    width: 100%;
    height: auto;
  }
  .credit-card-form {
    width: 100%;
    margin-bottom: 48px;
  }
  .bg-blue {
    padding: 90px 10px;
  }
  .bottom-menu li {
    padding-right: 11px;
  }
  .doctor-icon {
    right: 233px;
  }
  .hard-box .col-md-7,
  .hard-box .col-md-5 {
    padding: 0 !important;
  }

  .hard-box .col-md-7 {
    width: 170px;
  }

  /* .navbar-expand-sm .navbar-collapse {
    display: none!important;
  } */
  /* .navbar-toggler[aria-expanded="true"].navbar-expand-sm .navbar-collapse {
    display: table!important;
  }

    .navbar-toggler[aria-expanded="false"].navbar-expand-sm .navbar-collapse {
      display: none!important;
    }

    .header__menu {
      background-color: white;
      margin-right: -18px;
        margin-left: -16px;
        width: 100vw;
    
    }
    
    .head-menu {
      align-items: center;
    }
    
    .navbar-right {
      flex-direction: row;
      padding: 0 20px;
      padding-bottom: 20px;
      justify-content: space-between;
    } */

  

}


@media (min-width: 1024px) {
  .check-box-banner {
    margin-bottom: 0 !important;
  }
  .banner-box .banner-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .radio {
    margin-bottom: 0px;
  }

  .banner-box .doctor-icon {
    right: 10%;
    top: 10%;
  }

  .form-check-inline {
    margin-right: 10px;
  }

  .price {
    margin: 0 20px;
  }

  .credit-margin {
    margin-right: 10px;
  }

  .quantity-bk {
    padding-left: 0px;
  }

  .credit-card {
    margin-top: 16px;
  }

  .input-form-credit-light {
    font-weight: bold;
  }

  .card-number::placeholder {
    font-weight: 700;
  }

  .books {
    margin-bottom: 0;
  }

  .footer-logo {
    margin-bottom: 24px;
  }

  .informations {
    align-items: center;
  }

  .header__menu {
    display: flex;
    width: 100%;
  }

 
}

@media (max-width: 1215px) {
  .head-menu .nav-item .nav-link {
    padding-right: 8px;
    padding-left: 8px;
  }
  .hard-box.col-md-5,
  .hard-box.col-md-7 {
    padding: 0;
  }

  .radio {
    margin-bottom: 0px;
  }
}

/* maket 1445 */

@media (min-width: 360px) {
  .question-list__item_btn::after {
    margin-left: 156px;
  }
  .question-list__item_answer::after {
    top: -60px;
  }
}

@media (min-width: 375px) {
  .question-list__item_answer::after {
    top: -55px;
  }
  .question-list__item_btn::after {
    margin-left: 162px;
  }
}

@media (min-width: 414px) {
  .question-list__item_btn::after {
    margin-left: 180px;
  }
}

@media (min-width: 576px) {
  .question-list__item_answer::after {
    top: -38px;
  }
  .question-list__item_btn::after {
    margin-left: 246px;
  }
  .offices {
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  .question-list__item_btn::after {
    margin-left: 330px;
  }

  /* .navbar-expand-sm .navbar-toggler {
    display: block!important;
} */

/* .collapse:not(.show) {
  display: none!important;
} */



/* .collapse:not(.show) {
  display: block!important;
} */

/*  */
/* .collapse:not(.show) {
  display: none!important;
} */
/*  */


/* .collapse1445:not(.show) {
  display: none!important;
} */

/* .collapse1445 {
  height: 100px;

}

.collapse1445 .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
} */

/* .navbar-expand-sm .navbar-toggler {
  display: none!important;
} */

.header__menu {
  display: flex;
}

.navbar-right {
  display: none;
}

.nav-item__login {
  background-image: url(../img/login.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 16px;
  /* margin-right: 30px; */
  margin-left: 12px;
}

.nav-item__language {
  /* background-image: url(../img/Vector.svg); */
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 6px;

}

.nav-item__language {
  display: block;
}

/* .switch-lang {
  margin-top: -6px;
} */


/* .login-btn {
  background-image: url(../img/login.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
} */

/* .navbar-right {
  display: none;
} */



/* .login-btn {
  display: none;
}

.login-navlink-btn {
  background-image: url(../img/login.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 16px;
  padding-right: 10px!important;
}

.navbar-right {
  width: 63px;
}

.icon-earth {
  margin-top: -6px;
} */

/* .collapse:not(.show) {
  display: block !important;
} */

/* .collapse1445:not(.show) {
  display: none!important;
} */

}

@media (min-width: 992px) {
  .question-list__item_answer::after {
    top: -18px;
    right: -28px;
  }
  .question-list__item_btn::after {
    margin-left: 454px;
  }

  /* .collapse1445:not(.show) {
    display: none!important;
  } */

  /* .collapse:not(.show) {
    display: none!important;
  }
   */
}

@media (min-width: 1024px) {
  .question-list__item_btn.collapsed::after {
    right: -5%;
  }

  .navbar-expand-sm .navbar-toggler {
    display: none!important;
}

/* .collapse:not(.show) {
  display: flex!important;
} */

/* .collapse1445:not(.show) {
  display: none!important;
} */

/* .collapse:not(.show) {
  display: none!important;
} */


.navbar-right {
  display: flex;
  justify-content: space-around;
}

.login-btn {
  display: flex;
}

.nav-item__login,
.nav-item__language
.lang-btn
{
  display: none;
}

.nav-item__language {
  display: none;
}

.drop-lang {
  margin-top: -4px;
}

}

@media (min-width: 1200px) {
  .question-list__item_btn.collapsed::after {
    right: -5%;
  }

  .question-list__item_btn::after {
    margin-left: 542px;
  }
}
