@media (min-width: 414px) {

    .guide__tablet {
        background-size: cover;
        width: 212px;
        height: 282px;
    }

    .guide__title {
        padding-top: 48px;
    }

    .floor {
        margin-top: -16px;
    }

    .guide__book {
        width: 188px;
        height: 82px;
        background-size: cover;
        top: 290px;
    }
}

@media (min-width: 425px) {

    .logo-socical {
        display: flex!important;
        flex-direction: column;
    }

    .social__icons {
        margin: 0 auto;
    }

    .guide__book {
        width: 200px;
        height: 88px;
    }
}

@media (min-width: 768px) {

    .guide__title,
    .guide__price {
        font-size: 24px;
    }

    .guide__title {
        padding-top: 88px;
    }

    .guide__subtitle,
    .duide__old-price {
        font-size: 20px;
    }

    .guide__tablet {
        width: 330px;
        height: 456px;
    }

    .prices {
        margin-top: 20px;
    }

    .guide__book {
        width: 378px;
        height: 165px;
        top: 374px;
    }

    .buy {
        width: 164px;
        height: 40px;
    }

    .bottom {
        margin-bottom: 32px;
    }

    .form__description {
        font-size: 11px;
        line-height: 24px;
    }

    .collapse:not(.show) {
        display: block !important;
    }

}

@media (min-width: 1024px) {
     .logo-socical {
         display: block!important;
     }

     .guide__title,
     .guide__price {
         font-size: 40px;
     }

     .guide__subtitle,
     .guide__old-price {
         font-size: 16px;
     }

     .prices {
         margin-bottom: 38px;
     }

     .buy {
         width: 255px;
         height: 48px;
         font-size: 20px;
     }

     .guide__tablet {
         width: 396px;
         height: 576px;
     }

     .guide__book {
         width: 490px;
         height: 216px;
         top: 430px;
         margin-left: 62px;
     }

     .floor {
         margin-top: -36px;
     }

     .modal-content {
        width: 584px;
        padding: 0 16px;
    }

    .bg-blue .container {
        width: 584px;
        padding-right: 38px;
        padding-left: 38px;
    }


    .floor .container {
        padding-top: 20px;
    }

    .form__description {
        font-size: 12px;
        line-height: 30px;
    }
}

@media (min-width: 1200px) {
    .guide__title {
        padding-top: 137px;
    }

    .guide__subtitle {
        margin-bottom: 8px;
    }

    .guide__tablet {
        width: 562px;
        height: 778px;
    }

    .guide__book {
        width: 624px;
        height: 274px;
        top: 496px;
        margin-left: 0;
    }

    .floor {
        margin-top: -70px;
    }

}


@media (min-width: 1440px) {

    .modal-content {
        width: 660px;
        padding: 0 16px;
        margin-left: -69px;
    }

    .bg-blue .container {
        width: 660px;
        padding-right: 46px;
        padding-left: 46px;
    }

    .form__description {
        font-size: 13px;
        text-align: center;
    }
}

