@media (max-width: 326px) {
.microbiome-bg__small {
    background: url("../img/microbiome-sm.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 243px;
    margin-top: -72px;
    margin-bottom: 30px;
  }
}
@media (min-width: 326px) and (max-width: 576px) {
.microbiome-bg__small {
    background: url("../img/microbiome-md.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 243px;
    margin-top: -72px;
    margin-bottom: 30px;
  }
}
@media (min-width: 356px) and (max-width: 991px) {
  .secondblock-discover__imgrock {
    margin-top: 90px;
  }
}
@media (min-width: 425px) and (max-width: 773px) {
  .first-block__boock-mobile {
    margin-top: -120px;
  }
}
@media (max-width: 426px) {
  .block3 {
    padding-top: 88px;
  }

  .slick-list:focus {
    outline: none;
  }

  .microbiome-slider__title {
    padding-top: 340px;
    font-weight: 600;
    font-size: 20px;
  }

  .last-block__header {
    padding-top: 50px;
  }
}
@media (min-width: 555px) and (max-width: 773px) {
  .last-block__header {
    padding-top: 50px;
  }

  .first-block {
    background-color: #59c4d9;
    width: 100%;
    height: auto;
    padding-bottom: 65px;
  }
}
@media (min-width: 576px) {
  .block2-small {
    display: none;
  }
  .doctor-small__small {
    display: none;
  }

  .microbiome-bg__small {
    display: none;
  }


}
@media (max-width: 576px) {
  
.block3 {
padding-top: 0 !important;
}

  .last-block {
    background: #58c4d9  !important;
    height: 630px  !important;
    padding-left: 0 !important;
  }
  .microbiome-text__first {
    padding: 24px 0;
  }

  .microbiome-text__last {
    padding: 24px 0 39px 0;
  }

  .balance-provide__title {
    text-align: center;
    padding: 32px 0 !important;
  }

  .balance-provide {
    padding-top: 0;
  }

  .doctor-small__small {
    background: url("../img/doctor-small.svg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 225px;
    margin-bottom: 15px;
  }

  .last-block__boocks-small {
    background: url("../img/last-book_small.png") no-repeat right;
    margin-top: 25px;
    width: 100%;
    height: 110px;
  }

  .block2-small {
    text-align: center;
  }
  .block2-small__img {
    margin: 0 auto;
    background: url("../img/clock-small.png");
    width: 290px;
    height: 290px;
    margin-bottom: 16px;
  }

  .block2-small__text {
    text-align: left;
    width: 226px;
    font-size: 10px;
  }

  .balance-provide__accardion {
    margin: 0 5px;
  }

  .last-block__header {
    padding-top: 50px;
  }

  .last-block__subtitle {
    font-weight: 400;
  }

  .last-block__price {
    padding: 16px 0 38px 0;
  }

  .last-block__title {
    font-weight: 700;
    font-size: 32px;
  }

  .balance-provide__clock {
    display: none;
  }
  .block2 {
    display: none !important;
  }
}
@media (max-width: 776px) {
  .banner-box .doctor-icon {
    position: absolute;
    right: 18%;
    top: 21%;
  }
  .elips-none {
    display: none;
  }
  .guid-box__ico2 {
    left: 140px;
  }
  .input-form-credit-light .form-control {
    padding: 0.375rem 0px !important;
  }
  .dots {
    color: #495057;
    display: block;
    font-size: 30px;
  }
  .bg-light-inpt {
    border-radius: 50px;
    background-color: #f8f8f8 !important;
  }
  .credit-card {
    width: 100%;
    height: 100%;
  }
  .credit-card-form {
    width: 100%;
  }
  .feedback {
    width: 100%;
  }
  .bg-blue {
    padding-top: 123px;
    padding-bottom: 84px;
    padding-right: 10px;
    padding-left: 10px;
  }
  footer .flex-between {
    margin: 20px 0px;
    text-align: center;
    display: block;
  }
  .footer {
    background: #ffffff;
  }
  .informations li {
    text-align: left;
    margin: 20px 0px;
  }
  .bottom-menu li {
    padding-right: 0px;
    margin: 15px 0px;
  }
  .email {
    display: block;
    text-align: center;
  }
  .bottom-menu {
    display: block;
  }
  .informations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .revers-bg {
    flex-direction: column-reverse;
  }
  .nt-media {
    display: none;
  }
  .nt-media-bl {
    display: block;
  }
  .doctor-icon {
    position: absolute;
    right: 83px;
    top: 145px;
  }
  .plus-minus {
    height: auto;
  }
  .banner-box {
    margin-bottom: 32px;
  }
  .icon-mastercard {
    margin-top: 8px;
  }
  .credit-card {
    padding: 25px;
    margin-top: 8px;
  }
  .check-from-reg {
    display: none;
  }
  .forms-block {
    margin-bottom: 20px;
  }
  .check-list ul {
    padding: 0;
    line-height: 30px;
    padding-bottom: 16px;
  }
  .btn-block {
    justify-content: center;
    display: flex;
  }
  .quantity-bk {
    display: flex;
    justify-content: flex-end;
  }
  .quantity {
    background: #ffffff;
  }
}
@media (max-width: 720px) {
  .guid-box__ico2 {
    left: 0;
  }


}
@media (min-width: 757px) and (max-width: 991px) {
  .first-block__boock-mobile {
    margin-top: 40px;
  }
  .last-block__header {
    padding-top: 30px;
  }
  .balance-provide__clock {
    top: 240px;
  }
}
@media (max-width: 767px) {
  .navbar-toggler[aria-expanded="true"].navbar-expand-sm .navbar-collapse {
    display: table!important;
  }

    .navbar-toggler[aria-expanded="false"].navbar-expand-sm .navbar-collapse {
      display: none!important;
    }

    .header__menu {
      background-color: white;
      margin-right: -18px;
        margin-left: -16px;
        width: 100vw;
    
    }
    
    .head-menu {
      align-items: center;
    }
    
    .navbar-right {
      flex-direction: row;
      padding: 0 20px;
      padding-bottom: 20px;
      justify-content: center;
      /* justify-content: space-between; */
    }
  .first-block__mobile-book {
    display: none;
  }
  .balance-provide__clock {
    margin-left: -100px;
  }

  .last-block__boocks {
    display: none;
  }


.last-block__header{
    padding-top: 40px !important;
}

  .balance-provide__clock {
    top: 280px;
  }

  .block2 {
    padding-left: 50px;
  }
}
@media (min-width: 768px) {
  .banner-box .doctor-icon {
    right: 32%;
    top: 22%;
  }

}
@media (max-width: 999px) {
  /* .navbar-expand-sm .navbar-collapse {
    display: none !important;
  } */
  .banner-box {
    margin-bottom: 20px;
  }
  .feedback {
    margin: auto;
    width: 100%;
  }
  .guid-box__ico2 {
    left: 140px;
  }
  .credit-card {
    width: 100%;
    height: auto;
  }
  .credit-card-form {
    width: 100%;
    margin-bottom: 48px;
  }
  .bg-blue {
    padding: 90px 10px;
  }
  .bottom-menu li {
    padding-right: 11px;
  }
  .doctor-icon {
    right: 233px;
  }
  .hard-box .col-md-7,
  .hard-box .col-md-5 {
    padding: 0 !important;
  }

  .hard-box .col-md-7 {
    width: 170px;
  }

  /* .navbar-expand-sm .navbar-collapse {
    display: none!important;
  } */
  /* .navbar-toggler[aria-expanded="true"].navbar-expand-sm .navbar-collapse {
    display: table!important;
  }

    .navbar-toggler[aria-expanded="false"].navbar-expand-sm .navbar-collapse {
      display: none!important;
    }

    .header__menu {
      background-color: white;
      margin-right: -18px;
        margin-left: -16px;
        width: 100vw;
    
    }
    
    .head-menu {
      align-items: center;
    }
    
    .navbar-right {
      flex-direction: row;
      padding: 0 20px;
      padding-bottom: 20px;
      justify-content: space-between;
    } */

  

}
@media (min-width: 1024px) {
  .check-box-banner {
    margin-bottom: 0 !important;
  }
  .banner-box .banner-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .radio {
    margin-bottom: 0px;
  }

  .banner-box .doctor-icon {
    right: 10%;
    top: 10%;
  }

  .form-check-inline {
    margin-right: 10px;
  }

  .price {
    margin: 0 20px;
  }

  .credit-margin {
    margin-right: 10px;
  }

  .quantity-bk {
    padding-left: 0px;
  }

  .credit-card {
    margin-top: 16px;
  }

  .input-form-credit-light {
    font-weight: bold;
  }

  .card-number::placeholder {
    font-weight: 700;
  }

  .books {
    margin-bottom: 0;
  }

  .footer-logo {
    margin-bottom: 24px;
  }

  .informations {
    align-items: center;
  }

  .header__menu {
    display: flex;
    width: 100%;
  }

 
}
@media (max-width: 1215px) {
  .head-menu .nav-item .nav-link {
    padding-right: 8px;
    padding-left: 8px;
  }
  .hard-box.col-md-5,
  .hard-box.col-md-7 {
    padding: 0;
  }

  .radio {
    margin-bottom: 0px;
  }
}
@media (min-width: 360px) {
  .question-list__item_btn::after {
    margin-left: 156px;
  }
  .question-list__item_answer::after {
    top: -60px;
  }
}
@media (min-width: 375px) {
  .question-list__item_answer::after {
    top: -55px;
  }
  .question-list__item_btn::after {
    margin-left: 162px;
  }
}
@media (min-width: 414px) {
  .question-list__item_btn::after {
    margin-left: 180px;
  }
}
@media (min-width: 576px) {
  .question-list__item_answer::after {
    top: -38px;
  }
  .question-list__item_btn::after {
    margin-left: 246px;
  }
  .offices {
    flex-wrap: nowrap;
  }
}
@media (min-width: 768px) {
  .question-list__item_btn::after {
    margin-left: 330px;
  }

  /* .navbar-expand-sm .navbar-toggler {
    display: block!important;
} */

/* .collapse:not(.show) {
  display: none!important;
} */



/* .collapse:not(.show) {
  display: block!important;
} */

/*  */
/* .collapse:not(.show) {
  display: none!important;
} */
/*  */


/* .collapse1445:not(.show) {
  display: none!important;
} */

/* .collapse1445 {
  height: 100px;

}

.collapse1445 .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
} */

/* .navbar-expand-sm .navbar-toggler {
  display: none!important;
} */

.header__menu {
  display: flex;
}

.navbar-right {
  display: none;
}

.nav-item__login {
  background-image: url(../img/login.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 16px;
  /* margin-right: 30px; */
  margin-left: 12px;
}

.nav-item__language {
  /* background-image: url(../img/Vector.svg); */
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 6px;

}

.nav-item__language {
  display: block;
}

/* .switch-lang {
  margin-top: -6px;
} */


/* .login-btn {
  background-image: url(../img/login.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
} */

/* .navbar-right {
  display: none;
} */



/* .login-btn {
  display: none;
}

.login-navlink-btn {
  background-image: url(../img/login.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 16px;
  padding-right: 10px!important;
}

.navbar-right {
  width: 63px;
}

.icon-earth {
  margin-top: -6px;
} */

/* .collapse:not(.show) {
  display: block !important;
} */

/* .collapse1445:not(.show) {
  display: none!important;
} */

}
@media (min-width: 992px) {
  .question-list__item_answer::after {
    top: -18px;
    right: -28px;
  }
  .question-list__item_btn::after {
    margin-left: 454px;
  }

 .secondblock-discover__imgrock {
    display: none;
  }

  .secondblock-discover__imgrock-big {
    height: 601px;
    position: absolute;
    right: 0;
    margin-top: -80px;
    z-index: -1;
  }

  .thirdblock_list {
    display: none;
  }

  .first-block {
    background: url("../img/firstblock-big-bg.svg");
    width: 100%;
    height: 911px;
    position: relative;
    z-index: -2;
  }

  .thirdblock {
    background: url("../img/thirdblock-big-bg.svg");
    padding-top: 100px;
    height: 1162px;
  }

  .thirdblock_imagemobile {
    display: none;
  }
  .first-block__boock-mobile {
    display: none;
  }

  .fourthblock-small {
    margin-top: 80px;
  }
  .fourthblock-small__footer {
    font-size: 24px;
    margin-top: 96px;
  }

  .fourthblock-small__title {
    margin-bottom: 40px;
  }

  .fourthblock-small__text8 {
    background: url("../img/8-big.svg") no-repeat left top;
    width: 100%;
    height: 106px;
    padding-left: 144px;
    margin-bottom: 32px;
    line-height: 2.3rem;
  }

  .fourthblock-small__text5 {
    background: url("../img/5-big.png") no-repeat left top;
    width: 100%;
    height: 106px;
    padding-left: 144px;
    margin-bottom: 32px;
    line-height: 2.3rem;
  }

  .fourthblock-small__text1 {
    background: url("../img/1-big.png") no-repeat left top;
    width: 100%;
    height: 106px;
    padding-left: 144px;
    margin-bottom: 38px;
    line-height: 2.3rem;
  }

  .fifthblock-bg {
    background: url("../img/fifthblock-bg-big.svg");
    height: 670px;
    margin-top: 30px;
  }

  .fifthblock {
    display: flex;
    justify-content: space-between;
  }

  .fifthblock-title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .fifthblock-column__text {
    font-size: 12px;
  }
  .fifthblock-column {
    width: 100%;
    margin: 0 15px;
  }

  .fifthblock-column__imagepc {
    margin-top: 0;
  }

  .fifthblock-column__imageblood {
    margin-top: 0;
  }

  .fifthblock-column__imagemicroscope {
    margin-top: 0;
  }

  .fifthblock-column__imagechecklist {
    margin-top: 0;
  }

  .elips-bg-left {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -2;
  }

  .elips-bg-right {
    right: 0;
    bottom: -90px;
    position: absolute;
    z-index: -2;
  }

  .lastblock-discover {
    position: relative;
  }

  /* .collapse1445:not(.show) {
    display: none!important;
  } */

  /* .collapse:not(.show) {
    display: none!important;
  }
   */
}
@media (max-width: 992px) {
  .secondblock-discover__imgrock-big {
    display: none;
  }

  .first-block__mobile-book {
    display: none;
  }

  .thirdblock_imagemobile-big {
    display: none;
  }

  .thirdblock-big {
    display: none !important;
  }

  .fourthblock-sidebar {
    display: none;
  }
  .elips-bg-left {
    display: none;
  }

  .elips-bg-right {
    display: none;
  }
}
@media (min-width: 991px) and (max-width: 1201px) {
  .first-block__boock-mobile {
    margin-top: 40px;
  }
  .last-block__header {
    padding-top: 30px;
  }
}
@media (min-width: 1024px) {
  .question-list__item_btn.collapsed::after {
    right: -5%;
  }

  .navbar-expand-sm .navbar-toggler {
    display: none!important;
}

/* .collapse:not(.show) {
  display: flex!important;
} */

/* .collapse1445:not(.show) {
  display: none!important;
} */

/* .collapse:not(.show) {
  display: none!important;
} */


.navbar-right {
  display: flex;
  justify-content: space-around;
}

.login-btn {
  display: flex;
}

.nav-item__login,
.nav-item__language
.lang-btn
{
  display: none;
}

.nav-item__language {
  display: none;
}

.drop-lang {
  margin-top: -4px;
}

}
@media (min-width: 1200px) {
  .question-list__item_btn.collapsed::after {
    right: -5%;
  }

  .question-list__item_btn::after {
    margin-left: 542px;
  }
  .block2 {
    margin-left: 320px;
  }
}
@media (max-width: 1200px) {
  .balance-provide__girl {
    display: none;
  }
  .microbiome-bg {
    display: none;
  }

  .microscope_img {
    display: none;
  }

  .block2 {
    display: flex;
    justify-content: flex-end !important;
  }
}
@media (min-width: 1441px) {
  .microbiome-slider__item {
    width: 490px;
    margin: 0 15px;
  }
}
