@media (min-width: 320px) {
    .carousel-control-next-icon {
        margin-left: 34px;
    }

    .carousel-control-prev-icon {
        margin-left: -34px;
    }

    .cont,
    .slider-item__image {
        width: 262px;
    }

    .cont {
        height: 210px;
        margin-bottom: 24px;
    }

    .team__cont {
        margin-bottom: 44px;
    }

    .draggable {
        padding: 0 2px!important;
    }

    .show__road {
        display: none;
    }

    .slide-descr-wrap {
        min-height: 226px;
    }

    .health {
        padding: 0 24px;
    }

    .global__image {
        background-size: contain;
        height: 180px;
    }

    .text {
        margin-bottom: 40px;
    }

}

@media (min-width: 375px) {
    .carousel-control-next-icon {
        margin-right: -14px;
    }
    .carousel-control-prev-icon {
        margin-left: -50px;
    }
    .road__arrow_wrap {
        width: 355px;
    }

    .team__cont {
        width: 296px;
        height: 544px;
    }

    .team__image {
        width: 296px;
    }

    .carousel-indicators {
        margin-bottom: 16px;
    }

    .cont {
        margin: 0 auto;
    }

    .slider-item__text {
        font-size: 14px;
    }

    .global__image {
        width: 100%;
        height: 246px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 32px;
    }


}

@media (min-width: 414px) {

    .team__title {
        margin-bottom: 36px;
    }
    .about__wrap {
        height: 542px;
    }

    .road {
        margin-top: 0;
    }

    .cont {
        width: 264px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .team__cont {
        width: 296;
        margin-right: 2px;
        margin-left: 16px;
        margin-bottom: 50px;
    }


    .team__slider .slick-list .draggable {
        padding: 0px 144px !important;
    }

    .road__arrow_wrap {
        width: 355px;
    }

    .carousel-indicators {
        margin-bottom: 36px;
    }

    .cont,
    .team__cont {
        margin: 0 auto;
    }

    .team__cont {
        margin-bottom: 30px;
    }
}

@media (min-width: 425px) {
    .about__wrap {
        height: 558px;
    }

    .slider-item__image {
        width: 264px;
    }
}

@media (min-width: 768px) {
    .about {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        position: relative;
    }

    .november {
        display: table;
        position: relative;
        background-image: url(../img/blue2.png);

    }

    .nineteen,
    .twenty,
    .twenty-one,
    .twenty-two {
        display: table;
    }

    .about__wrap {
        background-image: url(../img/mainpic-desctop.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 125%;
        height: 422px;
    }

    .text {
        margin-top: 10px;
        padding-left: 46px;
    }

    .about__description {
        line-height: 1.5;
    }

    .about__title {
        margin-bottom: 10px;
    }

    .about__subtitle {
        margin-bottom: 8px;
    }

    .rewards__wrap {
        background-image: url(../img/greyback.png);
        background-size: cover;
        margin-top: -32px;
        height: 556px;
    }

    .slider__wrap {
        display: none
    }

    .reward__cont {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }

    .reward__item {
        text-align: center;
        width: 230px;
    }

    .cont,
    .slider-item__image {
        width: 184px;
    }


    .press__wrap {
        background-image: url(../img/pressback-desctop.png);
        margin-bottom: 68px;
    }

    .road {
        padding-top: 150px;
        overflow: hidden;
    }

    .road__title,
    .road__subtitle {
        text-align: left;
        margin-left: 34px;
    }

    .road__subtitle {
        margin-bottom: 40px;
    }

    .global__title {
        margin-bottom: 44px;
    }

    .global__image {
        background-image: url(../img/globalback-desctop.png);
        height: 454px;
    }

    .refs__list {
        display: flex;
        padding-right: 50px;
    }

    .arrow-right2 {
        display: table;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid #58C4D9;
    }

    .product {
        background-image: url(../img/product.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .test {
        background-image: url(../img/test.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .analys {
        background-image: url(../img/analys.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .enobiosys {
        background-image: url(../img/enobiosis.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .probiotic {
        background-image: url(../img/probiotic.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .pregnancy {
        background-image: url(../img/pregnant.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .blood {
        background-image: url(../img/blood.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .kit {
        background-image: url(../img/kit.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .personal {
        background-image: url(../img/personal.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .bakteri {
        background-image: url(../img/bakteri.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .heart {
        background-image: url(../img/heart.svg);
        background-repeat: no-repeat;
        background-size: contain;

    }



    .event3,
    .event4,
    .event5,
    .event6,
    .event7 {
        display: table;
    }

    .event3,
    .event4 {
        width: 196px;
        text-align: center;
        margin-left: 20px;

    }

    .event5 {
        width: 160px;
    }

    .event6 {
        width: 200px;
    }

    .event7 {
        width: 158px;
    }


    .event3,
    .event4,
    .event5,
    .event6,
    .event7 {
        display: table;
    }

    .event3,
    .event4 {
        width: 196px;
        text-align: center;
        margin-left: 20px;

    }

    .event5 {
        width: 160px;
    }

    .event6 {
        width: 200px;
    }

    .event7 {
        width: 158px;
    }

    /* roadmap */

    .text-top {
        margin-top: 20px;
    }

    .road__arrow_wrap {
        width: 1330px;
    }

    .road__events {
        width: 1330px;
    }


    .event3,
    .event4,
    .event5,
    .event6,
    .event7 {
        display: table;
    }

    .event3,
    .event4 {
        width: 196px;
        text-align: center;
        margin-left: 20px;

    }

    .event5 {
        width: 160px;
    }

    .event6 {
        width: 200px;
    }

    .event7 {
        width: 158px;
    }

    .road__arrow_blue {
        width: 200px;
    }

    .text {
        margin-left: -4px;
    }

    .event1 {
        width: 196px;
        text-align: center;
        /* margin-left: 20px; */
    }

    .team__cont {
        width: 200px;
        height: 582px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .team__image {
        width: 200px;

    }

   
    .slider-container .slick-center div {
        transform: scale(1.1);
    }
    
    
    .team__slider .slick-center div {
        transform: scale(1.1);
    }

    .cont,
    .slider-item__image {
        width: 212px;
    }

    .cont {
        margin-bottom: 30px;
    }

    .slider-item__text {
        font-size: 12px;
    }

    .team__cont {
        width: 230px;
        height: 550px;
    }

    .team__image {
        width: 230px;
    }

    .refs {
        margin-bottom: 40px;
    }

    .text {
        margin-bottom: 0;
    }

    /* .collapse:not(.show) {
        display: block !important;
    } */


}

@media (min-width: 1024px) {
    .about__title {
        margin-top: 58px;
        margin-bottom: 40px;
    }

    .about__subtitle {
        margin-bottom: 24px;
    }

    .rewards__wrap {
        background-image: url(../img/greyback-desctop.png);
        background-size: cover;
        margin-top: -46px;

    }

    .text {
        margin-left: 14px;
    }

    .items:focus {
        outline: none;
    }

    .about__wrap {
        height: 626px;
        width: 150%;
    }

    .about__description {
        line-height: 30px;
    }

    .rewards__wrap {
        padding-top: 50px;
    }

    .reward__item {
        width: 333px;
    }

    .cont,
    .slider-item__image {
        width: 250px;
    }



    .global {
        padding: 0 150px;
    }

    .global__padding {
        padding: 0 150px;
    }

    .team__cont {
        margin-right: 16px;
        margin-left: 16px;
        height: 560px;
    }

    .road {
        padding-top: 180px;
        overflow: hidden;
    }

    .global__image {
        height: 576px;
    }

    .refs__list {
        justify-content: center;
        padding-right: 50px;
    }

    .arrow-right {
        margin-left: -6px;
    }

    .blue2 {
        margin-left: -1px;
    }

    .text-top {
        margin-top: 24px;
    }

    .twenty {
        display: table;
    }

    /* roadmap */

    .road__arrow_wrap,
    .road__events {
        width: 1144px;
    }

    .road__arrow_white {
        width: 124px;
    }

    .road__arrow_blue {
        width: 140px;
    }

    .november {
        width: 186px;
    }

    .arrow-right3 {
        display: table;
    }

    .event1 {
        width: 142px;
    }

    .event2,
    .event4,
    .event6 {
        width: 124px;
    }

    .event3 {
        width: 186px;
    }

    ;

    .event5 {
        width: 140px;
    }

    .event7 {
        width: 140px;
    }

    .event3,
    .event4,
    .event5,
    .event6,
    .event7 {
        display: table;
    }

    .arrow-right {
        margin-left: -1px;
    }

    .boy1,
    .road__events_text {
        margin-left: 20px;
    }

    .team__item:focus {
        outline: none;
    }

    .team__cont {
        width: 278px;
        height: 528px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .team__image {
        width: 278px;
    }

    .road {
        padding-top: 130px;
    }

    

    


}

@media (min-width: 1100px) {
    .cont,
    .slider-item__image {
        width: 170px;
    }

    .team__cont,
    .team__image {
        width: 186px;
    }

    .team__cont {
        height: 588px;
    }

    .slider-container .slick-center div {
        transform: none;
    }
    
    .team__slider .slick-center div {
        transform: none;
    }

     /* slider */

     .slide {
        height: 200px;
    }
    
    .slick-slide {
        transition: transform 0.5s;
        transform: scale(0.6);
        font-size: 48px;
    }
    
    .slick-xxx {
        transform: scale(0.8);
    }
    
    .slick-xxx+.slick-slide {
        transform: scale(1);
    }
    
    .slick-xxx+.slick-slide+.slick-slide {
        transform: scale(1);
    }
    
    .slick-xxx+.slick-slide+.slick-slide+.slick-slide {
        transform: scale(1);
    }
    
    .slick-xxx+.slick-slide+.slick-slide+.slick-slide+.slick-slide {
        transform: scale(0.8);
    }

    .cont, .slider-item__image {
        width: 182px;
    }

    .team__cont, .team__image {
        width: 210px;
    }

    .team__cont {
        height: 570px;
    }

    .team__name {
        font-size: 15px;
    }

    .rewards__wrap {
        margin-top: -58px;
    }
}

@media (min-width: 1200px) {
    .cont,
    .slider-item__image,
    .team__cont,
    .team__image {
        width: 204px;
    }

    .team__cont {
        height: 564px;
    }

    .team__name {
        font-size: 14px;
    }

    .team__position {
        font-size: 12px;
    }

    .road__arrow_wrap,
    .road__events {
        width: 1126px;
    }
}

@media (min-width: 1300px) {
    .team__cont,
    .team__image {
        width: 230px;
    }

    .team__cont {
        height: 536px;
    }

    .team__name {
        font-size: 14px;
    }

    .team__position {
        font-size: 12px;
    }

    .road__arrow_wrap,
    .road__events {
        width: 1204px;
    }

    .text {
        margin-left: 52px;
    }

    
}




@media (min-width: 1440px) {
    .container {
        max-width: 1320px;
    }

    .text {
        margin-left: 30px;
    }

    .cont,
    .slider-item__image {
        width: 240px;
    }

    .rewards__wrap {
        margin-top: -60px;
    }

    .arrow-right3 {
        display: none;
    }

    .road__arrow_wrap {
        width: 1394px;
        font-size: 16px;
    }

    .road__events {
        width: 1394px;
    }

    .road__arrow_white {
        width: 160px;
    }

    .november {
        width: 188px;
        padding-left: 10px;
    }

    .road__arrow_blue {
        width: 192px;
    }

    .event1,
    .event3,
    .event5,
    .event7 {
        width: 192px;
    }

    .event2,
    .event4,
    .event6,
    .event8 {
        width: 160px;
    }

    .event3,
    .event4 {
        margin-left: 0;
    }

    .items:focus {
        outline: none;
    }

    .team__cont {
        width: 240px;
        height: 568px;
        padding-bottom: 30px;
    }

    .team__image {
        width: 240px;
    }

    .team__descr {
        font-size: 12px;
        line-height: unset;
        margin-bottom: 30px;
    }

    .road__events_text {
        margin-left: 0;
    }

    .team__cont {
        width: 270px;
        height: 546px;
    }

    .team__image {
        width: 270px;
    }

    .show__road {
        display: table;
    }
}

@media (min-width: 1900px) {
    .text {
        padding-left: 280px;
    }

    .team__cont {
        width: 316px;
        height: 598px;
    }

    .team__image {
        width: 316px;
    }
}

@media (min-width: 2500px) {

    .text {
        padding-left: 570px;
    }

    .team__cont,
    .team__image {
        width: 440px;
    }

    .team__cont {
        height: 830px
    }

    .team__name {
        font-size: 30px;
    }

    .team__position {
        font-size: 26px;
    }

    .team__descr {
        font-size: 18px;
    }


}