@media (min-width: 375px) {
    .head__mob {
        left: 252px;
    }

    .microbiome {
        height: 1080px;
    }

    .cont {
        margin-bottom: 24px;
    }

    .comments__cont {
        height: 528px;
    }
}

@media (min-width: 414px) {
    .head__mob {
        left: 290px;
    }

    .head__book {
        width: 314px;
    }

    .rewards__wrap {
        margin-top: -264px;
    }

    .video__wrap,
    .comments__video_wrap {
        width: 330px;
        height: 182px;
    }

    .comments__cont {
        height: 532px;
    }

    .comments__btn {
        margin-top: -36px;
    }

    .slick-dots li button::before {
        top: 8px !important;
    }

    .analusis__image {
        height: 262px;
    }
}

@media (min-width: 425px) {
    .analusis__image {
        height: 268px;
    }

    .microbiome-container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 530px) {
    .head__mob {
        left: 346px;
    }

    .head__book {
        margin-left: 70px;
    }
}


@media (min-width: 768px) {

    .buy__btn,
    .organizations__btn {
        width: 202px;
        margin-bottom: 0;
        font-size: 16px;
    }


    .head-block__buttons {
        display: flex;
        margin-bottom: 8px;
    }

    .buy__btn {
        margin-right: 20px;
    }

    .head__title {
        margin-top: 90px;
    }

    .head__mob {
        background-image: url(../img/samsung-desctop.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 214px;
        height: 464px;
        top: -444px;
        left: 473px;
    }

    .head__book {
        background-image: url(../img/book-desctop.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 424px;
        height: 172px;
        margin-left: 88px;
    }

    .reward__cont {
        padding-top: 112px;
    }

    .rewards__wrap {
        background-image: url(../img/reward-back-desctop.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -542px;
        height: 600px;
    }

    .video__wrap {
        background-image: url(../img/video1-desctop.png);
        background-size: contain;
    }

    .comments__video_wrap {
        background-image: url(../img/video2-desctop.png);
        background-size: contain;
    }

    .video__wrap,
    .comments__video_wrap {

        width: 500px;
        height: 264px;
    }

    /* .video__props,
    .comments__video {
        width: 600px;
        height: 264px;
    } */

    .analusis__image {
        background-image: url(../img/analusis-image-desctop.png);
        height: 356px;
    }

    .analusis__btn {
        width: 255px;
        margin-top: -66px;
    }

    .microbiome {
        background-image: url(../img/microbiome-back-desctop.png);
        background-repeat: round;
        background-size: cover;
        height: unset;
    }

    .microbiome__wrap {
        display: flex;
    }

    .microbiome__image {
        width: 100%;
        background-repeat: no-repeat;
    }

    .microbiome__description {
        font-size: 14px;
    }


    .microbiome__btn {
        margin: 0;
        margin-bottom: 116px;
    }

    .comments {
        background-image: url(../img/comments-back-desctop.png);
        height: 1300px;
    }

    .second-maket {
        background-image: url(../img/team-back-desctop.png);
        background-size: cover;
        height: 930px;
    }

    .aware {
        background-image: url(../img/aware-back-desctop.png);
        background-repeat: no-repeat;
        height: 496px;
    }

    .comments__slider_item_text {
        font-size: 12px;
        line-height: 22px;
    }

    .comments__cont {
        height: 522px;
    }

    .comments__slider_item_name {
        font-size: 12px;
    }

    .comments__slider_item_category,
    .comments__slider_item_category_name {
        padding-left: 22px;
    }



    .balance-provide__clock {
        top: 144px;
    }

    /* .collapse:not(.show) {
        display: block !important;
    } */

    .collapse1442:not(.show) {
        display: none !important;
    }
}

@media (min-width: 1024px) {
    .head__title {
        margin-top: 180px;
    }

    .head-cont {
        height: 1000px;
    }

    .head__mob {
        width: 300px;
        height: 656px;
        top: -624px;
        left: 632px;
    }

    .head__book {
        width: 596px;
        height: 246px;
    }

    .rewards__wrap {
        background-repeat: round;
        margin-top: -422px;
    }

    .video__wrap,
    .comments__video_wrap {
        width: 800px;
        height: 464px;
    }

    /* .video__props,
    .comments__video {
        width: 800px;
        height: 464px;
    } */

    .analusis__image {
        height: 472px;
    }

    .microbiome__image {
        margin-top: -10px;
    }

    .comments {
        height: 1520px;
    }

    .process__list {
        display: flex;
    }

    .process__item {
        width: 230px;
    }

    .process__item_title {
        padding: 0;
    }

    .aware__input {
        width: 390px;
    }

    footer {
        background-color: #F8F8F8;
        filter: unset;
    }

    .guide__block {
        position: relative;
    }

    .guide__circle_top {
        background-image: url(../img/bg_elips.svg);
        width: 577px;
        height: 577px;
        background-repeat: no-repeat;
        position: absolute;
        margin-top: -120px;
        left: -166px;
    }

    .guide__circle_bottom {
        background-image: url(../img/ellipse-bottom.svg);
        width: 366px;
        height: 577px;
        background-repeat: no-repeat;
        position: absolute;
        right: 0px;
        margin-top: 400px;
        z-index: -1;
    }

    .comments__slider_item_text {
        font-size: 14px;
        line-height: 24px;
    }

    .comments__slider_item_name {
        font-size: 16px;
    }

    .comments__slider_item_avatar {
        margin-left: 8px;
    }

    .comments__cont {
        margin-left: 32px;
    }
}

@media (min-width: 1100px) {

    .comments {
        height: 1391px;
    }

    .comments__slider_block .slick-center div {
        transform: scale(1.1);
    }

    .comments__slider_item_text {
        font-size: 16px;
        line-height: 30px;
    }

    .comments__cont {
        width: 550px;
        height: 408px;
    }

    .comments__slider_item_avatar {
        margin-left: 34px;
    }

    .comments__cont {
        margin-left: -98px;
    }

    .comments__slider_item_name {
        margin-top: 10px;
    }

    .comments__slider_item_category,
    .comments__slider_item_category_name {
        padding-right: 40px;
        font-size: 16px;
    }

    .slick-dots li button::before {
        top: -60px !important;
    }

    .comments__btn {
        margin-top: -86px;
    }

    .analusis__image {
        height: 508px;
    }

    .microbiome__image {
        width: 60%;
        margin-left: 44px;
        background-repeat: round;
    }

    .microbiome__title {
        margin-left: 264px;
    }
}

@media (min-width: 1200px) {
    .head__title {
        font-size: 48px;
        margin-top: 152px;
        line-height: 58px;
    }

    .buy__btn,
    .organizations__btn,
    .analusis__btn,
    .microbiome__btn,
    .comments__btn,
    .aware__btn {
        width: 254px;
        font-size: 20px;
    }

    .buy__btn {
        margin-right: 32px;
        margin-bottom: 16px;
    }

    .head__remark {
        display: table;
        font-size: 12px;
        line-height: 16px;
        color: white;
    }

    .head__mob {
        top: -430px;
        left: 768px;
    }

    .head__book {
        position: absolute;
        top: 506px;
        width: 710px;
        left: 206px
    }

    .analusis__image {
        height: 556px;
    }

    .microbiome__image {
        height: 368px;
        margin-top: -92px;
    }

    .microbiome__title {
        margin-left: 218px;
    }

    .comments__slider_block .slick-center div {
        transform: scale(1.3);
    }

    .comments__slider_block .slick-center .comments__slider_item_avatar {
        margin-left: 80px;
    }

    .comments__slider_block .slick-center .comments__slider_item_name {
        margin-left: 30px;
    }

    .process__item:not(:last-child) {
        margin-right: 30px;
    }

    .process__list {
        justify-content: space-between;
    }

    .microbiome {
        background-repeat: round;
    }

    .aware__input {
        width: 354px;
    }
}

@media (min-width: 1300px) {
    .analusis__image {
        height: 600px;
    }

    .microbiome__title {
        margin-left: 250px;
    }

    .microbiome__image {
        height: 334px;
        width: 50%;
        margin-right: 100px;
    }

    .comments__slider_block .slick-center .comments__slider_item_avatar {
        margin-bottom: 10px;
    }

    .block2 {
        margin-left: 336px;
    }

}

@media (min-width: 1400px) {
    .analusis__image {
        height: 668px;
    }

    .video__wrap,
    .comments__video_wrap {
        width: 1100px;
        height: 556px;
    }

    

    /* .video__props,
    .comments__video {
        width: 1100px;
        height: 556px;
    } */

    .comments__cont {
        width: 600px;
        height: 396px;
    }

    .comments__btn {
        margin-top: -110px;
    }

    .microbiome__image {
        margin-top: -68px;
    }
}

@media (min-width: 1440px) {
    .microbiome__title {
        margin-left: 200px;
    }

    .head__mob {
        left: 928px;
    }

    .head__book {
        left: 286px;
    }
}

@media (min-width: 1900px) {
    .head__mob {
        left: 878px;
    }

    .head__book {
        left: 500px;
        width: 754px;
    }

    .analusis__image {
        height: 880px;
    }

    .microbiome__image {
        background-repeat: no-repeat;
    }

    .comments__cont {
        width: 846px;
        height: 340px;
    }

    .comments__slider_block .slick-center .comments__slider_item_avatar {
        margin-left: 112px;
    }

    .aware {
        background-repeat: round;
    }
}