@media (min-width: 356px) and (max-width: 991px) {
  .secondblock-discover__imgrock {
    margin-top: 90px;
  }
}
@media (min-width: 425px) and (max-width: 773px) {
  .first-block__boock-mobile {
    margin-top: -120px;
  }
}

@media (min-width: 555px) and (max-width: 773px) {
  .last-block__header {
    padding-top: 50px;
  }

  .first-block {
    background-color: #59c4d9;
    width: 100%;
    height: auto;
    padding-bottom: 65px;
  }
}

@media (max-width: 757px) {
  .first-block__mobile-book {
    display: none;
  }
}

@media (min-width: 757px) and (max-width: 991px) {
  .first-block__boock-mobile {
    margin-top: 40px;
  }
  .last-block__header {
    padding-top: 30px;
  }
}

@media (min-width: 988px) {
  .secondblock-discover__imgrock {
    display: none;
  }

  .secondblock-discover__imgrock-big {
    height: 601px;
    position: absolute;
    right: 0;
    margin-top: -80px;
    z-index: -1;
  }
}

@media (max-width: 988px) {
  .secondblock-discover__imgrock-big {
    display: none;
  }
}

@media (min-width: 991px) and (max-width: 1201px) {
  .first-block__boock-mobile {
    margin-top: 40px;
  }
  .last-block__header {
    padding-top: 30px;
  }
}

@media (max-width: 992px) {
  .first-block__mobile-book {
    display: none;
  }

  .thirdblock_imagemobile-big {
    display: none;
  }

  .thirdblock-big {
    display: none !important;
  }

  .fourthblock-sidebar {
    display: none;
  }
  .elips-bg-left {
    display: none;
  }

  .elips-bg-right {
    display: none;
  }
}

@media (min-width: 992px) {
  .thirdblock_list {
    display: none;
  }

  .first-block {
    background: url("../img/firstblock-big-bg.svg");
    width: 100%;
    height: 911px;
    position: relative;
    z-index: -2;
  }

  .thirdblock {
    background: url("../img/thirdblock-big-bg.svg");
    padding-top: 100px;
    height: 1162px;
  }

  .thirdblock_imagemobile {
    display: none;
  }
  .first-block__boock-mobile {
    display: none;
  }

  .fourthblock-small {
    margin-top: 80px;
  }
  .fourthblock-small__footer {
    font-size: 24px;
    margin-top: 96px;
  }

  .fourthblock-small__title {
    margin-bottom: 40px;
  }

  .fourthblock-small__text8 {
    background: url("../img/8-big.svg") no-repeat left top;
    width: 100%;
    height: 106px;
    padding-left: 144px;
    margin-bottom: 32px;
    line-height: 2.3rem;
  }

  .fourthblock-small__text5 {
    background: url("../img/5-big.png") no-repeat left top;
    width: 100%;
    height: 106px;
    padding-left: 144px;
    margin-bottom: 32px;
    line-height: 2.3rem;
  }

  .fourthblock-small__text1 {
    background: url("../img/1-big.png") no-repeat left top;
    width: 100%;
    height: 106px;
    padding-left: 144px;
    margin-bottom: 38px;
    line-height: 2.3rem;
  }

  .fifthblock-bg {
    background: url("../img/fifthblock-bg-big.svg");
    height: 670px;
    margin-top: 30px;
  }

  .fifthblock {
    display: flex;
    justify-content: space-between;
  }

  .fifthblock-title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .fifthblock-column__text {
    font-size: 12px;
  }
  .fifthblock-column {
    width: 100%;
    margin: 0 15px;
  }

  .fifthblock-column__imagepc {
    margin-top: 0;
  }

  .fifthblock-column__imageblood {
    margin-top: 0;
  }

  .fifthblock-column__imagemicroscope {
    margin-top: 0;
  }

  .fifthblock-column__imagechecklist {
    margin-top: 0;
  }

  .elips-bg-left {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -2;
  }

  .elips-bg-right {
    right: 0;
    bottom: -90px;
    position: absolute;
    z-index: -2;
  }

  .lastblock-discover {
    position: relative;
  }
}
