@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.header {
  height: 72px;
  /* Drop Shadow */
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.09);
}

.navbar-light .navbar-nav .nav-link {
  line-height: 40px;
  color: #000000;
}

.nav-link:hover {
  color: #58c4d9 !important;
}

.nav-link:first-child {
  border-bottom: 2px solid #fff;
  width: 100%;
}

.nav-link:focus:first-child[aria-expanded="true"] {
  border-bottom: 2px solid #58c4d9;
  width: 100%;
}

.dropdown-simple {
  background: url("../img/Vector.svg") no-repeat left;
  width: 100%;
  padding-left: 30px;
}

.dropdown-simple:hover {
  background: url("../img/Vector-hover.svg") no-repeat left;
  width: 100%;
  padding-left: 30px;
  color: #58c4d9;
}

.navbar-brand img:first-child {
  width: 43px;
  height: 39px;
}

.navbar-brand img:last-child {
  width: 115px;
  height: 16px;
}

.header__navigation {
  display: flex !important;
}

.header__menu {
  width: 100vw;
  z-index: 900;
}

.dropdown-menu {
  position: absolute !important;
}

.nav-item__language {
  display: none;
}

/* .head-menu {
  margin-bottom: -20px;
} */

/* .header__menu {
  background-color: white;
  margin-right: -18px;
    margin-left: -18px;

}

.head-menu {
  align-items: center;
}

.navbar-right {
  flex-direction: row;
  padding: 0 20px;
  padding-bottom: 20px;
} */

.head-menu .nav-item .nav-link {
  padding-right: 15px;
  padding-left: 15px;
}

.nav-link {
  padding-right: 10px;
  padding-left: 10px;
}

.d-end-flex {
  justify-content: flex-end;
}

.login-btn {
  color: #e55d48;
  border: 1px solid #e55d48;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5px 40px;
}

.books {
  margin-top: 0 !important;
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
}

.dots {
  display: none;
}

.social-networks {
  line-height: 3;
  display: flex;
  list-style-type: none;
}

.icon-facebook {
  margin-right: 11px;
  display: inline-block;
  width: 31px;
  height: 32px;
  background-image: url(../img/facebook.png);
  /* IE 8 */
  background-size: auto 100%;
  vertical-align: middle;
}

.icon-inst {
  margin-right: 11px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../img/inst.png);
  /* IE 8 */
  background-size: auto 100%;
  vertical-align: middle;
}

.icon-youtube {
  margin-right: 11px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../img/ytb.png);
  /* IE 8 */
  background-size: auto 100%;
  vertical-align: middle;
}

.icon-linkedin {
  margin-right: 11px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../img/linkedin.png);
  /* IE 8 */
  background-size: auto 100%;
  vertical-align: middle;
}

.icon-linkedin {
  margin-right: 11px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../img/twiter.png);
  /* IE 8 */
  background-size: auto 100%;
  vertical-align: middle;
}

.check-list ul {
  list-style-type: none;
}

.check-list ul li {
  list-style-type: none;
  margin: 10px 0px;
}

.icon-check {
  background-image: url(../img/chek.svg);
  margin-right: 11px;
  display: inline-block;
  width: 32px;
  height: 32px;
  /* IE 8 */
  background-size: auto 100%;
  vertical-align: middle;
}

.icon-connection {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url(../img/clarity_wifi-solid.svg);
  /* IE 8 */
  background-size: auto 100%;
  vertical-align: middle;
}

.icon-mastercard {
  display: inline-block;
  width: 76px;
  height: 40px;
  background-image: url(../img/Group392.svg);
  /* IE 8 */
  background-size: auto 100%;
  vertical-align: middle;
  background-repeat: no-repeat;
}

main {
  margin-top: 72px;
}

.forms-block {
  border-bottom-color: #dcdcdc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-radius: 38px;
  border: none;
  height: auto;
}

.forms-block input,
.forms-block select {
  background: #f8f8f8;
  border-radius: 38px;
  border: none;
  height: 48px;
}

.input-name::placeholder {
  padding-left: 8px;
}

.title-info {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}

.credit-name {
  margin-right: 16px;
}

.security-wrap {
  margin-top: 24 !important;
}

.credit-margin {
  margin: 0 8px;
}

.credit-margin:first-child {
  margin-left: 0;
}

.credit-margin:last-child {
  margin-right: 0;
}

.input-form-credit-light .form-control {
  background: #f8f8f8;
  border-radius: 38px;
  border: none;
  height: 48px;
}

.address-check {
  display: flex;
  font-weight: normal !important;
}

.form-control:disabled,
.form-control[readonly] {
  color: rgba(0, 0, 0, 0.5);
  background-color: #e9ecef;
  opacity: 1;
}

.banner-box {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.09);
  border-radius: 16px;
  background: #ffffff;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.banner-box .doctor-icon {
  position: absolute;
  right: 62px;
  top: 56px;
}

.banner-box .title {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.doctor-icon {
  position: absolute;
  right: 63px;
  top: 58px;
}

.quantity {
  background: #f8f8f8;
  width: 118.54px;
  border-radius: 38px;
}

.input-form-light-date input {
  padding: 0.375rem 7px !important;
}

.plus-minus {
  line-height: 3;
  display: flex;
  margin-top: 8px;
  text-align: center;
  border-radius: 38px;
  background: #f8f8f8;
}

.plus-minus .minus,
.plus-minus .plus {
  float: left;
  border-radius: 38px;
  width: 50%;
  background-color: #f8f8f8;
  color: #efa048;
  line-height: 3;
  font-weight: 700;
}

.plus-minus .minus:hover,
.plus-minus .plus:hover {
  cursor: pointer;
}

.plus-minus .plus {
  float: right;
}

.plus-minus input {
  text-align: center;
  border: none;
  font-size: 16px;
  font-weight: 400;
  background: none;
  width: 12.3333%;
  padding: 0;
  position: relative;
  margin-right: 4px;
}

.box-selet {
  font-size: 15px !important;
  margin-top: 12px;
  padding: 0 !important;
  border: none;
  color: #e55d48;
  margin-bottom: 16px;
}

.input-form-light {
  width: 80%;
}

.input-form-light .form-control {
  background: #f8f8f8 !important;
  border-radius: 38px !important;
  border: none !important;
  height: 48px !important;
}

.price {
  border-bottom-color: #dcdcdc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0 30px;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.price .title,
.price .new-price,
.price .old-price {
  font-weight: bold;
  font-size: 16px;
  color: #c4c4c4;
  text-align: start;
  width: 100%;
}

.old-price__buy {
  margin-bottom: 24px;
}

.price .old-price {
  text-decoration: line-through;
}

.sub-m {
  font-size: 16px !important;
}

/*Sub MEnu */

.sub-menu__main {
  width: 100%;
  background-color: #f8f8f8;
  height: auto;
  position: absolute;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.sub-menu__mobile {
  width: 100%;
  background-color: #dedede;
}

.sub-menu__arrow-down {
  margin-left: 5px;
}

._active {
  opacity: 1;
  visibility: visible;
}

.sub-menu__main a {
  color: #000;
  font-size: 16px;
}

.sub-menu__main a:hover {
  text-decoration: none;
}

.sub-menu__head-menu {
  display: flex;
  justify-content: space-between;
}

.sub-menu__item {
  padding: 21px 14px;
}

.sub-menu__item:first-child {
  padding: 21px 12px 21px 0;
}

.sub-menu__item:last-child {
  padding: 21px 0 21px 12px;
}

.price .new-price {
  font-size: 38px;
  color: #178a9f;
}

.check-box-banner {
  width: 80%;
}

.credit-card {
  margin-top: 40px;
  padding: 40px;
  width: 616px;
  height: 382px;
  background: #48b5ca;
  border-radius: 16px;
}

.credit-number {
  margin-bottom: 12px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.square {
  width: 48px;
  height: 48px;
  background: #178a9f;
  border-radius: 8px;
}

.header-title__credit {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}

.header-title__credit p span {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}

.form-group-int .form-control {
  background: #f8f8f8 !important;
  border-radius: 38px !important;
  border: none !important;
  height: 48px !important;
  text-align: center;
  width: 122px;
}

.form-group-int {
  border-bottom-color: #dcdcdc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.credit-card-form {
  width: 55%;
}

.input-form-light-date {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 8px;
}

.input-form-light-date input {
  border-radius: 38px !important;
  border: none !important;
  height: 32px !important;
  width: 80px;
}

.check-list a {
  color: #178a9f;
}

.btn-block button {
  width: 255px;
  height: 48px;
  padding: 12px 107px;
  background: #e55d48;
  border: 1px solid #e55d48;
  box-sizing: border-box;
  border-radius: 127px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.bg-blue {
  background-position: center;
  padding: 111px;
  background-image: url(../img/Rectangle.png);
  /* IE 8 */
  background-size: auto 100%;
  vertical-align: middle;
}

.bg-blue h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #ffffff;
}

.bg-blue p {
  text-align: center;
  color: #ffffff;
  line-height: 30px;
}

.bg-blue {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feedback .form-control {
  background: #f8f8f8;
  border-radius: 38px;
  border: none;
  height: 48px;
}

.message-text {
  background: #f8f8f8;
  border-radius: 24px;
  border: none;
  height: 187px;
  width: 100%;
  padding: 1rem 24px;
}

.message-text:focus {
  outline: none;
}

.feedback {
  margin: auto;
  width: 730px;
}

.btn-send {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 127px;
  width: 255px;
  height: 48px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.logo-socical {
  width: 100%;
}

.bottom-menu {
  padding: 0;
  display: flex;
  list-style-type: none;
  margin-bottom: 24px;
}

.bottom-menu li {
  padding-right: 31px;
}

.form-control {
  padding: 0.375rem 24px;
}

.bottom-menu li a {
  color: #000000 !important;
}

.phone {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
}

.informations {
  justify-content: inherit;
  width: 100%;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.informations li {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.4);
}

.email {
  text-align: right;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
}

.info-input {
  margin-bottom: 8px;
  border-bottom: 1px solid #dcdcdc;
}

.info-address {
  margin-bottom: 16px;
}

/* для элемента input c type="radio" */

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */

.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */

.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #e55d48;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на радио */

.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: red;
}

/* стили для активной радиокнопки (при нажатии на неё) */

.custom-radio:not(:disabled):active + label::before {
  background-color: red;
  border-color: red;
}

/* стили для радиокнопки, находящейся в фокусе */

.custom-radio:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */

.custom-radio:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

/* стили для радиокнопки, находящейся в состоянии checked */

.custom-radio:checked + label::before {
  border-color: #e55d48;
  background-color: white;
  background-image: url(../img/radio2.svg);
}

/* стили для радиокнопки, находящейся в состоянии disabled */

.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

.radio {
  padding-right: 20px;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgb(0 0 0 / 0%);
}

.navbar-toggler-icon {
  background-image: url(../img/burger.svg) !important;
}

.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url(../img/burger.svg) !important;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url(../img/exit.svg) !important;
}

button:focus {
  outline: none;
}

.nt-media-bl {
  display: none;
}

.hard-box {
  margin: 0;
}

.price .title {
  margin-bottom: 5px;
}

.banner-box .banner-title {
  margin-top: 32px !important;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.banner-box .title {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.book {
  position: relative;
}

/* You own nutrition guide HOME 1446  */

ul,
li {
  margin: 0;
  padding: 0;
}

.elipls1 {
  position: absolute;
  top: 100px;
}

.elipls2 {
  position: absolute;
  bottom: -400px;
  right: 0;
  z-index: -1;
}

.revers-bg {
  margin-top: 64px;
}

.home-guide__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 64px;
}

.guid-box__title {
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding-bottom: 8px;
}

.guid-price {
  padding-bottom: 14px;
  width: 100%;
  text-align: center;
}

.guid-price__new {
  font-size: 40px;
}

.guid-price__old {
  margin-left: 5px;
  text-decoration: line-through;
  color: #e55d48;
  font-weight: 500;
}

.guid-price__list li {
  background: url("../img/check.svg") no-repeat left center;
  padding: 8px 0 8px 26px;
  list-style-type: none;
}

.guid-box__margin {
  padding-top: 20px;
}

.guid-box {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.09);
  border-radius: 16px;
  background: #ffffff;
  padding: 40px 24px;
  position: relative;
  margin-bottom: 32px;
}

.guid-box__books {
  position: relative;
  margin-top: 14px;
  width: 100%;
  margin-bottom: 24px;
}

.just-center {
  display: flex;
  justify-content: center;
}

.guid-box__buy {
  width: 255px;
  height: 48px;
  background-color: #e55d48;
  border-radius: 127px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.middle-box {
  padding-top: 20px;
}

.guid-box__diss {
  padding-top: 24px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 24px;
}

.guid-box__ico-doctor2 {
  position: absolute;
  right: 0;
  top: 0;
}

.guid-box__ico2 {
  position: absolute;
  left: 0;
  bottom: 0px;
}

.guid-box__choose {
  position: absolute;
  top: 0;
  right: 0;
}

.bestchoose {
  position: absolute;
  top: 0;
  right: 0;
}

footer {
  background: #f8f8f8;
}

.mb-5 {
  margin-bottom: 28px !important;
}

/* maket 1445 */

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 0;
}

.questions {
  background-color: #f8f8f8;
  padding-top: 72px;
  padding-bottom: 36px;
}

.title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 40px;
}

.item__wrap {
  width: 100%;
  left: 15px;
  top: 578px;
  background: #ffffff;
  border-radius: 16px;
  padding: 14px 16px;
}

.question-list__item {
  text-align: left;
}

.question-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.question-list__item_btn,
.question-list__item_answer {
  background-color: white;
  border: none;
  text-align: left;
  line-height: 30px;
  width: 96%;
  position: relative;
  cursor: pointer;
}

.card {
  border: none;
  padding-top: 0;
  padding-left: 12px;
}

.question-list__item_btn:focus {
  box-shadow: none;
}

.question-list__item_answer {
  margin-left: 6px;
}

.question-list__item_btn.collapsed::after {
  content: "";
  background-image: url(../img/minus.svg);
  position: absolute;
  top: 40%;
  right: -6%;
  transform: translate(-50%, -50%);
}

.question-list__item_btn:after {
  content: "";
  background-image: url(../img/plus.svg);
  width: 17px;
  height: 22px;
  position: absolute;
  top: 23%;
  right: -4%;
  background-size: contain;
  background-repeat: no-repeat;
}
.question-list__item_btn[aria-expanded="false"]:after {
  background-image: url(../img/plus.svg);
}
.question-list__item_btn[aria-expanded="true"]:after {
  background-image: url(../img/minus.svg);
}

.question-list__item_btn[aria-expanded="false"] {
  font-weight: normal;
}

.question-list__item_btn[aria-expanded="true"] {
  font-weight: bold;
}

.hidden .question-list__item_btn {
  line-height: 22px;
}

.mt-4 {
  margin-top: 0px !important;
}

input::placeholder,
textarea::placeholder {
  padding-left: 10px;
}

.offices {
  display: flex;
  flex-wrap: wrap;
}

.buy-section {
  margin-top: 72px;
}

.first-block {
  background: url("../img/first-block_back.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-bottom: 65px;
}

.first-block__price {
  padding: 32px 0 38px 0;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.button-discover-z {
  position: relative;
  z-index: 10;
}

.first-price__old {
  font-size: 16px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3);
  text-decoration-line: line-through;
  margin-left: 8px;
}

.first-block__title {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 16px;
}

.first-block__boock-mobile {
  padding-top: 30px;
}

.first-block__mobile {
  position: relative;
}

.first-block__mobile-book {
  position: absolute;
  right: 0;
  top: 30px;
}

.first-block__boock-mobile img {
  width: 100%;
  height: auto;
}

.secondblock-title {
  padding-top: 30px;
}

.discover-title {
  font-size: 32px;
  font-weight: 700;
  color: black;
  line-height: 2.5rem;
}

.secondblock-discover__text {
  padding: 32px 0 0 0;
}

.secondblock {
  position: relative;
}

.secondblock-discover__imgrock {
  height: 601px;
  position: absolute;
  right: 0;
  margin-top: 240px;
}

.secondblock-discover__buttons {
  display: flex;
  justify-content: center;
  padding: 13px 0;
  border: 1px solid #e55d48;
  border-radius: 127px;
  color: #e55d48;
  font-weight: 700;
  margin: 24px 0;
  background: #fff;
}

.secondblock-discover__gruop {
  padding-right: 0;
}

.thirdblock {
  background: url("../img/thirdblock_bg.svg") no-repeat left top;
  background-size: cover;
  width: 100%;
  height: auto;
  margin-top: 32px;
}

.thirdblock_title {
  text-align: center;
  padding-top: 72px;
  width: 100%;
}

.thirdblock_list {
  padding-top: 32px;
}

.faq_list {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 40px;
  text-align: center;
}

.thirdblock-shadow {
  -webkit-box-shadow: 0px 0px 11px 6px rgba(34, 60, 80, 0.08);
  -moz-box-shadow: 0px 0px 11px 6px rgba(34, 60, 80, 0.08);
  box-shadow: 0px 0px 11px 6px rgba(34, 60, 80, 0.08);
}

.thirdblock-list__text {
  font-weight: 700 !important;
}

.thirdblock_imagemobile {
  padding-top: 50px;
  padding-bottom: 92px;
  margin: 0 auto;
}

.thirdblock_imagemobile img {
  width: 100%;
  height: auto;
}

.thirdblock_imagemobile-big {
  padding-top: 50px;
  padding-bottom: 92px;
  margin: 0 auto;
}

.thirdblock_imagemobile-big img {
  width: 100%;
  height: auto;
}
.thirdblock-big__column {
  margin: 0 15px;
}

.thirdblock-big__title {
  font-weight: 700;
  padding-top: 30px;
}

.fourthblock-small {
  padding-top: 64px;
}
.fourthblock-small__title {
  font-size: 40px;
}

.fourthblock-small__subtitle {
  padding-bottom: 40px;
}

.fourthblock-small__text8 {
  background: url("../img/fourthblock-small-8.svg") no-repeat left top;
  width: 100%;
  min-height: 72px;
  padding-left: 88px;
  margin-bottom: 24px;
}

.fourthblock-small__text5 {
  background: url("../img/fourthblock-small-5.svg") no-repeat left top;
  width: 100%;
  min-height: 72px;
  padding-left: 88px;
  margin-bottom: 24px;
}

.fourthblock-small__text1 {
  background: url("../img/fourthblock-small-1.svg") no-repeat left top;
  width: 100%;
  min-height: 72px;
  padding-left: 88px;
  margin-bottom: 38px;
}

.fourthblock-small__texttitle {
  font-weight: 700;
}

.fourthblock-small__footer {
  border-left: 3px solid #92e5eb;
  padding-left: 24px;
}

.fourthblock-sidebar {
  background-color: #fff;
  margin-top: 35px;
  padding: 12px 23px;
  font-size: 25px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.09);
}

.fourthblock-sidebar__listitem {
  display: flex;
  justify-content: space-between;
  line-height: 1.8rem;
  margin-top: 37px;
}

.fourthblock-sidebar__listitem:first-child {
  display: flex;
  justify-content: space-between;
  line-height: 1.8rem;
  margin-top: 0;
}

.fourthblock-sidebar__barley {
  background: url("../img/barley.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__krilloil {
  background: url("../img/krilloil.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__fishoil {
  background: url("../img/fishoil.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__safflower {
  background: url("../img/saffloweroil.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__pump {
  background: url("../img/pumpkin.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__shell {
  background: url("../img/shellbean.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__cheese {
  background: url("../img/cheese.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__bread {
  background: url("../img/bread.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__pistachio {
  background: url("../img/pistachio.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__whiteflour {
  background: url("../img/whiteflour.svg") no-repeat;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 92px;
}

.fourthblock-sidebar__right {
  display: flex;
  align-items: center;
}

.fifthblock-bg {
  background: url("../img/fifthblock-bg.svg") no-repeat top;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.fifthblock {
  text-align: center;
}

.fifthblock-title {
  padding-top: 118px;
  padding-bottom: 40px;
  text-align: center;
}

.fifthblock-test {
}

.fifthblock-column__imagepc {
  width: 100%;
  height: 120px;
}

.fifthblock-column__imageblood {
  width: 100%;
  height: 120px;
  margin-top: 32px;
}

.fifthblock-column__imagemicroscope {
  width: 100%;
  height: 120px;
  margin-top: 32px;
}

.fifthblock-column__imagechecklist {
  width: 100%;
  height: 120px;
  margin-top: 32px;
}

.fifthblock-column__title {
  font-weight: 700;
  padding: 16px 0px;
}

.fifthblock-column__text {
  font-size: 12px;
}

.sixthblock-discover__buttons {
  display: flex;
  justify-content: center;
  padding: 13px 0;
  border: 1px solid #e55d48;
  border-radius: 127px;
  color: #e55d48;
  font-weight: 700;
  margin: 40px 0;
  background: #fff;
}

p {
  margin-bottom: 0;
}

.main-block {
  margin-top: 72px;
}

.microbiome-text__main {
  line-height: 1.8rem;
}

.microbiome-text__title {
  font-size: 14px;
  font-weight: 700;
}
.microbiome-text__subtitle {
  font-size: 30px;
  font-weight: 700;
}

.microbiome-text {
  line-height: 2.1rem;
}

.microbiome-text__first {
  padding: 40px 0;
}

.microbiome-text__last {
  color: #798186;
  font-weight: 700;
  line-height: 2.4rem;
  padding: 40px 0;
}

.microbiome-quote {
  border-left: 2px solid #92e5eb;
}

.microbiome-quote__title {
  padding-left: 34px;
  font-weight: 700;
}
.microbiome-quote__subtitle {
  padding-left: 34px;
}

.microbiome-bg {
  position: absolute;
  right: 0;
  z-index: -100;
  width: 700px;
  height: 913px;
}

.microbiome-carousel {
  background: url("../img/microbiome-caorusel.svg") center center;
  width: 100%;
  height: 919px;
  padding: 115px 0;
  margin-top: 40px;
}

.balance-provide {
  position: relative;
  padding-top: 67px;
}

.block2 {
  padding-top: 50px;
}

.balance-provide__item {
  margin-left: -30px;
}

.balance-provide__item1 {
  margin-left: -30px;
}
.balance-provide__item2 {
  margin-left: -60px;
}
.balance-provide__item3 {
  margin-left: -90px;
}

.balance-provide__title {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 50px;
}
.balance-provide__girl {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -100;
}

.balance-provide__clock {
  background: url("../img/clock.png") no-repeat center center;
  width: 388px;
  height: 765px;
  position: absolute;
  left: 0;
  top: 180px;
}

.block2-small__text {
  position: absolute;
}

/* АНИМАЦИЯ ЧАСОВ */

.clock-white {
  background: url("../img/clock-white.png") no-repeat center center;
  width: 169px;
  height: 765px;
  position: relative;
  z-index: 20;
}

.balance-provide__arrow {
  background: url("../img/arrow.png") no-repeat center center;
  width: 297px;
  height: 241px;
  margin: -605px 0 0 -40px;
  transition: all 0.8s ease 0s;
  transform: rotate(-15deg);
  position: relative;
  z-index: 10;
  transform-origin: bottom left;
}

.hover__clock {
  background: url("../img/hover_clock.png") no-repeat center center;
  width: 392px;
  height: 67px;
  margin: -87px 0 0 4px;
  transition: all 0.8s ease 0s;
  transform: rotate(-52deg);
  position: relative;
  transform-origin: bottom left;
}

.hover_block_mobile {
  background: url("../img/hover_block_mobile.png") no-repeat center center;
  width: 39px;
  height: 155px;
  margin: -158px 0 0 0;
  transition: all 0.8s ease 0s;
  transform: rotate(-45deg);
  position: relative;
  transform-origin: bottom center;
}

/* КОНЕЦ АНИМАЦИИ ЧАСОВ */

.balance-provide__accardion {
  font-size: 16px;
  color: black !important;
  font-weight: 700;
}

.balance-provide__accardion:hover {
  color: #e55d48 !important;
  cursor: pointer;
  text-decoration: none;
}
.balance-provide__text {
  font-size: 12px;
}

.panel {
  padding-bottom: 48px;
}

.panel-heading {
  padding-bottom: 16px;
}

.panel-collapse {
  font-size: 12px;
  line-height: 1.8rem;
}

.block3 {
  padding-top: 150px;
  position: relative;
}

.microscope_img {
  position: absolute;
  left: 0;
  top: 150;
}

.microbiome-text__fw {
  font-weight: 700;
  padding-top: 32px;
}

.last-block {
  background: url("../img/last_block.svg") right center;
  width: 100%;
  margin-top: 50px;
  padding-left: 100px;
  position: relative;
  padding-bottom: 50px;
  height: 495px;
}

.last-block__header {
  color: #fff;
  padding-top: 125px;
}

.last-block__title {
  font-weight: 700;
  font-size: 40px;
}

.last-block__subtitle {
  line-height: 1.8rem;
}

.last-block__price {
  padding: 32px 0 38px 0;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.last-block__button {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  background: #ee7663;
  border-radius: 127px;
  padding: 12px 30px;
}

.last-block__boocks {
  position: absolute;
  right: 0;
  bottom: 60px;
}

button {
  border: 0;
  background: none;
}

/*СЛАЙДЕР */

.microbiome-slider {
  min-width: 0;
  padding-top: 28px;
}

.microbiome-slider__item:focus {
  outline: none !important;
}

.microbiome-slider__item {
  width: 290px;
  margin: 0 15px;
}

.microbiome-slider__img1 {
  background: url("../img/bsl1.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 32px 24px;
  border-radius: 16px;
}
.microbiome-slider__img2 {
  background: url("../img/bsl2.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 32px 24px;
  border-radius: 16px;
}

.microbiome-slider__img3 {
  background: url("../img/bsl3.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 32px 24px;
  border-radius: 16px;
}

.microbiome-slider__img4 {
  background: url("../img/bsl4.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 32px 24px;
  border-radius: 16px;
}

.microbiome-slider__title {
  padding-top: 369px;
  font-weight: 600;
  font-size: 20px;
}

.microbiome-slider__text {
  padding-top: 20px;
}

.targetdivs {
  display: none;
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* 1444 */

.facebook-white {
  background-image: url(../img/cib_facebook.svg);
}

.insta-white {
  background-image: url(../img/instagram-with-circle.svg);
}

.youtube-white {
  background-image: url(../img/youtube-with-circle.svg);
}

.linkedin-white {
  background-image: url(../img/linkedin-with-circle.svg);
}

.twiter-white {
  background-image: url(../img/twitter-with-circle.svg);
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: auto 100%;
  vertical-align: middle;
}

.bottom-menu li .bottom-list {
  color: white !important;
}

.informations .info-list {
  color: #6c9bb7;
}

/* 1443 */

/* 1443 */

.mainpic {
  width: 100%;
  margin-right: -5px;
  margin-left: -5px;
}

.about__wrap {
  background-image: url(../img/mainpic-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.about__title {
  margin-bottom: 32px;
}

.about__subtitle {
  font-size: 16px;
  margin-bottom: 24px;
}

.about__description {
  line-height: 30px;
}

.text {
  margin-left: 0;
}

.reward__cont {
  display: none;
}

.rewards__wrap {
  background-image: url(../img/greyback.png);
  background-repeat: round;
  background-size: cover;
  position: relative;
  height: 480px;
}

.slider__wrap {
  padding-top: 48px;
}

.carousel-item {
  text-align: center;
}

.carousel-item.active {
  text-align: center;
}

.rewards__icon {
  margin-bottom: 16px;
}

.rewards__descr {
  line-height: 30px;
  padding: 0 16px;
}

.slide-descr-wrap {
  min-height: 180px;
}

.rewards__author {
  color: #bababa;
  margin-bottom: 24px;
}

.carousel-control-prev-icon {
  background-image: url(../img/prev.svg) !important;
  margin-top: 40px;
  margin-left: -40px;
}

.carousel-control-next-icon {
  background-image: url(../img/next.svg) !important;
  margin-top: 40px;
  margin-left: 40px;
}

.health {
  margin-bottom: 0 !important;
}

.carousel-indicators li {
  background-color: #c0e8ef;
  padding-top: 12px !important;
  border-radius: 50%;
  width: 14px !important;
  height: 0 !important;
  margin-right: 3px !important;
  margin-left: 3px !important;
  background-clip: unset !important;
  border-top: none !important;
  border-bottom: none !important;
}

.press__wrap {
  background-image: url(../img/pressback.png);
  background-repeat: round;
  background-size: cover;
  margin-top: -50px;
  margin-bottom: 40px;
  padding-bottom: 64px;
}

.press__title {
  color: white;
  padding-top: 68px;
  text-align: center;
  line-height: 39px;
  margin-bottom: 23px;
}

.cont {
  width: 240px;
  height: 225px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.09);
  border-radius: 24px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.cont:focus {
  outline: none;
}

.slider-item__image {
  margin-top: 18px;
  padding-top: 20px;
}

.slider-item__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 0 16px;
}

.team__title {
  text-align: center;
}

.team__position {
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.road {
  background-image: url(../img/roadback.png);
  background-repeat: round;
  background-size: cover;
  margin-bottom: 64px;
  padding-top: 110px;
  padding-bottom: 96px;
}

.road__title {
  text-align: center;
  font-size: 40px;
}

.road__arrow_wrap {
  display: flex;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  overflow: hidden;
}

.road__arrow_blue {
  background-image: url(../img/blue1.png);
  width: 196px;
  height: 60px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.road__arrow_white {
  background-color: white;
  width: 164px;
  height: 60px;
  text-align: center;
}

.arrow-right {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #58c4d9;
  margin-left: -1px;
}

.arrow1 {
  margin-left: -1px;
}

.arrow-right2,
.arrow-right3 {
  display: none;
}

.arrow-right3 {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #58c4d9;
}

.arrow-white {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid white;
}

.november,
.nineteen,
.twenty,
.twenty-one,
.twenty-two {
  display: none;
}

.arrow-white-nov {
  position: absolute;
  z-index: 200;
  left: 436px;
}

.road__text_white {
  color: white;
  text-align: center;
  padding-top: 20px;
}

.road__text_black {
  color: black;
  text-align: center;
  padding-top: 20px;
}

.road__events {
  display: flex;
  margin-bottom: 50px;
}

.road__events_image {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 8px;
}

.twenty {
  background-image: url(../img/blue3.png);
}

.enterpr {
  background-image: url(../img/enterp.svg);
}

.boy1 {
  background-image: url(../img/boy1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0;
}

.boy2 {
  background-image: url(../img/boy2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0;
}

.scientists {
  margin-right: 26px;
}

.event1 {
  width: 196px;
  text-align: center;
}

.event3,
.event4,
.event5,
.event6,
.event7 {
  display: none;
}

.boys {
  display: flex;
}

.road__events_text {
  padding: 0 10px;
  text-align: center;
}

.road__subtitle {
  text-align: center;
}

.global__image {
  background-image: url(../img/roadpic.png);
  width: 100%;
  height: 246px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 32px;
}

.goal {
  padding-left: 32px;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  margin-bottom: 50px;
}

.goal::before {
  content: "";
  clear: both;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/vertical.svg);
  width: 2px;
  height: 100%;
}

.goal__btn {
  display: block;
  margin: 0 auto;
  background: #e3614d;
  border-radius: 127px;
  width: 290px;
  height: 48px;
  text-align: center;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.refs__title {
  text-align: center;
  margin-bottom: 32px;
}

.refs__list {
  text-align: center;
}

/* team-slider */

.team__name {
  font-size: 16px;
}

.team__cont {
  text-align: center;
  width: 272px;
  height: 548px;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 4px 3px 21px 0px rgba(209, 209, 209, 1);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
}

.team__cont:focus {
  outline: none;
}

.team__image {
  margin-bottom: 24px;
  width: 272px;
  border-radius: 26px;
}

.team__descr {
  font-size: 12px;
  line-height: 16px;
  padding: 0 16px;
  margin-bottom: 8px;
}

.team__item:focus {
  outline: none;
}

/* 1440 */

.head-block {
  background-color: #59c4d9;
}

.head__title,
.head__subtitle {
  color: #ffffff;
}

.head__title {
  font-size: 32px;
  margin-top: 48px;
  line-height: 39px;
}

.head__subtitle {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 32px;
}

.buy__btn,
.organizations__btn,
.analusis__btn,
.microbiome__btn,
.comments__btn,
.aware__btn,
.aware__input {
  width: 290px;
  height: 48px;
  border-radius: 127px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  /* margin: 0 auto; */
}

.buy__btn {
  background: #e3614d;
  margin-bottom: 28px;
}

.organizations__btn {
  background-color: transparent;
  border: 1px solid #e3614d;
  margin-bottom: 83px;
}

.head__book {
  background-image: url(../img/book.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 302px;
  height: 132px;
  margin-left: -15px;
}

.head__mob {
  background-image: url(../img/samsung.png);
  width: 93px;
  height: 205px;
  position: relative;
  z-index: 10;
  top: -210px;
  left: 200px;
}

.head__remark {
  display: none;
}

.rewards__wrap {
  margin-top: -270px;
}

.rewards__wrap1443 {
  margin-top: -38px;
}
/* .rewards__wrap1443 {
  margin-top: -38px;
} */

.slide-descr-wrap .second-copy {
  min-height: 236px;
}

.video__wrap {
  background-image: url(../img/video1-mob.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 290px;
  height: 146px;
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 126px;
}

.analusis__text {
  text-align: center;
}

.analusis__image {
  background-image: url(../img/analusis-image.png);
  width: 100%;
  height: 236px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 38px;
}

.analusis__btn,
.microbiome__btn,
.comments__btn,
.aware__btn {
  background-color: transparent;
  border: 1px solid #e3614d;
  color: #e3614d;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  margin-bottom: 94px;
}

.microbiome {
  background-image: url(../img/microbiome-mob.png);
  background-repeat: round;
  background-size: cover;
  height: 1170px;
  margin-bottom: 48px;
}

.microbiome-container {
  padding-right: 0;
  padding-left: 0;
}

.microbiome__title {
  padding-top: 82px;
  text-align: center;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 14px;
}

.microbiome__image {
  background-image: url(../img/microbiome-img.png);
  width: 320px;
  height: 320px;
  margin: 0 auto;
}

.microbiome__description {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 32px;
}

.microbiome__btn {
  margin-bottom: 116px;
}

.balance {
  margin-bottom: 72px;
}

.balance-provide__title {
  font-size: 32px;
  line-height: 39px;
}

.comments {
  background-image: url(../img/cooments-back-mob.png);
  background-repeat: round;
  background-size: cover;
  height: 1190px;
  margin-bottom: 82px;
}

.comments__title {
  padding-top: 108px;
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.comments__video_wrap {
  background-image: url(../img/video2-mob.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 160px;
  width: 290px;
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
}

.comments__btn {
  margin-top: -90px;
}

/* slider */

.comments__slider_block {
  margin-bottom: 80px;
  border-radius: 24px;
}

.comments__slider_block:focus {
  outline: none;
}

.slick-track:focus {
  outline: none;
}

.comments__cont {
  height: 580px;
  background-color: #fff;
}

.comments__slider_item {
  background-color: #fff;
  border-radius: 24px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 24px;
  filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.09));
}

.comments__slider_head {
  display: flex;
  padding-left: 16px;
  padding-top: 24px;
  margin-bottom: 16px;
}

.comments__slider_item_avatar {
  background-image: url(../img/avatar.jpg);
  background-repeat: no-repeat;
  width: 54px;
  height: 48px;
  margin-right: 16px;
  border-radius: 50%;
}

.comments__slider_item_name {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  padding-right: 6px;
  text-align: left;
}

.comments__slider_item_text {
  font-size: 14px;
  line-height: 27px;
  padding: 0 16px;
  margin-bottom: 16px;
  text-align: left;
}

.comments__slider_item_category {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5;
  text-align: right;
  padding-right: 16px;
}

.comments__slider_item_category_name {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  opacity: 0.5;
  text-align: right;
  padding-right: 16px;
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li button::before {
  font-family: "slick";
  font-size: 36px !important;
  line-height: 20px;
  position: absolute;
  top: -32px !important;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots .slick-active button::before {
  color: red;
}

.slick-dots li button {
  font-size: 0;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  content: "•";
  font-size: 22px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 0.25;
  color: black;
}

.comments__indicators {
  background-color: red;
  position: absolute;
}

.process__title {
  text-align: center;
  margin-bottom: 40px;
}

.process__list {
  text-align: center;
}

.process__item:not(:last-child) {
  margin-bottom: 32px;
}

.process__item:last-child {
  margin-bottom: 66px;
}

.process_item_image {
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.process1 {
  background-image: url(../img/process1.svg);
}

.process2 {
  background-image: url(../img/process2.svg);
}

.process3 {
  background-image: url(../img/process3.svg);
}

.process4 {
  background-image: url(../img/process4.svg);
}

.process__item_title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  padding: 0 32px;
}

.process__item_description {
  font-size: 12px;
  line-height: 16px;
}

.second-maket {
  background-image: url(../img/team-back-mob.png);
  background-size: cover;
  background-repeat: round;
  height: 830px;
  margin-bottom: 72px;
}

.second-title {
  padding-top: 110px;
}

.second {
  border-radius: unset;
}

.press-block {
  margin-bottom: 44px;
}

.press__title1440 {
  color: black;
  padding-top: 30px;
}

.press__wrap1440 {
  background-image: unset;
  padding-bottom: 0;
}

.aware {
  background-image: url(../img/aware-back-mob.png);
  background-size: cover;
  background-repeat: round;
  height: 660px;
  margin-bottom: 68px;
}

.aware__title {
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  padding-top: 130px;
}

.aware__description {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.aware__input {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  cursor: unset;
}

.aware__input:focus {
  outline: none;
}

.aware__input::placeholder {
  padding: 0 10px;
  padding-left: 24px;
  font-size: 16px;
}

.guide-block {
  margin-bottom: 32px;
}

.home-guide__title {
  margin-top: 0;
  font-size: 32px;
  margin-top: 64px;
}

footer {
  background-color: #fff;
  filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.09));
}

/* 1444 */

.turkey {
  background-image: url(../img/turkey.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 26px;
  width: 44px;
  margin-top: 8px;
  padding-right: 0;
}

.britain {
  background-image: url(../img/britain.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 56px;
  height: 41px;
}

.guide {
  background-color: #49cdcd;
}

.first-block-1444 {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.guide__title {
  color: white;
  padding-top: 42px;
  font-size: 16px;
  font-weight: bold;
}

.guide__subtitle {
  color: white;
  margin-bottom: 0;
  font-size: 12px;
}

.prices {
  display: flex;
  margin: 0 auto;
  margin-bottom: 8px;
}

.guide__price {
  color: white;
  border: none;
  margin: 0;
  font-size: 14px;
  margin-top: 8px;
}

.buy {
  width: 146px;
  height: 28px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.09);
  background-color: #ee7663;
  color: white;
  border: none;
  border-radius: 127px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 12px;
}

.guide__old-price {
  font-size: 12px;
  line-height: 22px;
  font-weight: normal;
  text-decoration-line: line-through;
  color: rgba(255, 255, 255, 0.3);
}

.guide__tablet {
  background-image: url(../img/tablet.png);
  width: 226px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 252px;
  margin-top: 40px;
  position: relative;
  z-index: 500;
}

.guide__book {
  background-image: url(../img/book-guide.png);
  width: 164px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 278px;
  margin-left: 10px;
}

/* .icon-facebook {
  background-image: url(../img/cib_facebook.svg);
} */

/* .icon-inst {
  background-image: url(../img/instagram-with-circle.svg);
}

.icon-youtube {
  background-image: url(../img/youtube-with-circle.svg);
}

.icon-linkedin {
  background-image: url(../img/linkedin-with-circle.svg);
}

.icon-twiter {
  background-image: url(../img/twitter-with-circle.svg);
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: auto 100%;
  vertical-align: middle;
} */

/* .bottom-menu li a {
  color: white !important;
} */

/* .email,
.informations li {
  color: #6c9bb7;
} */

.mainpic {
  width: 344px;
  height: 302px;
  margin-top: -94px;
  top: 57%;
  right: -1%;
  z-index: 500;
}

.floor {
  top: 78%;
  background-color: #1d6591;
  margin-top: -12px;
}

/* modal-window */

.send-btn {
  margin: 0 auto;
  width: 255px;
  height: 48px;
  background: #e55d48;
  border: 1px solid #e55d48;
  box-sizing: border-box;
  border-radius: 127px;
  color: white;
  font-weight: bold;
}

.modal-footer,
.modal-header {
  border: none;
}

.modal-footer {
  margin-top: -14px;
  margin-bottom: 14px;
}

.modal__title {
  text-align: center;
  font-weight: bold;
}

.modal__text {
  text-align: center;
  margin-bottom: 48px;
}

.bg-blue1444 {
  padding: 0;
  background-image: none;
}

.bg-blue1444 .container {
  width: 500px;
}

.bg-blue1444 h3 {
  color: black;
  margin: 0 auto;
}

.bg-blue1444 p {
  color: black;
  margin-bottom: 30px;
}

.modal-body {
  padding: 0;
}

.message-text {
  padding-bottom: 0;
}

/* .mb-4 {
  margin-bottom: 0 !important;
} */

.modal-content {
  border-radius: 16px;
  margin: 0 auto;
}

.btn:focus {
  outline: none;
  border: none;
}

.form__description {
  font-size: 12px;
}

/* .navbar-right {
  justify-content: center;
}

.login-btn {
  margin-right: 30px;
} */

.modal-backdrop {
  z-index: unset;
}

.footer-moreinfo {
  margin-bottom: 24px;
}

.check-from-reg {
  padding: 0;
}

.phone-input {
  border: none;
}
